<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/mypage/company/company_review.css">
</head>
<body>
	<div layout:fragment="content">
		<section class="con">
		    <div class="left">
		      <div class="left-main">
		        <h2 class="mypage">마이페이지</h2>
		        <div class="img">
		          <img src="/img/hongsnow5.jpg" class="profile" alt="">
		        </div>
		        <h2 class="username">000</h2>
		      </div>
		      <div class="left-menu">
		        <ul>
		          <a th:href="@{/company}" target="_self">
		            <li>내 정보</li>
		          </a>
		          <a th:href="@{/company/info}" target="_self">
		            <li>사업자 정보</li>
		          </a>
		          <a th:href="@{/company/hall}" target="_self">
		            <li>내 공연장</li>
		          </a>
		          <a th:href="@{/company/reserve}" target="_self">
		            <li>예약 내역</li>
		          </a>
		          <a href="#" target="_self">
		            <li class="open">리뷰 관리</li>
		          </a>
		        </ul>
		      </div>
		    </div>
		    <div class="content">
		      <h2 class="content-main">리뷰 관리</h2>
		      <div class="main">
		        <table class="table">
		          <thead>
		            <tr>
		              <th><input type="checkbox" class="chkbox" name="selectAll" value="selectAll" onclick="selectAll(this)">
		              </th>
		              <th>공연장</th>
		              <th>닉네임</th>
		              <th class="table-content">내용</th>
		              <th>평점</th>
		              <th>관리</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr><!-- th:each -->
		              <td><input type="checkbox" class="chkbox" name="check" onclick="checkSelectAll()"></td>
		              <!-- th:text -->
		              <td>test1</td>
		              <td>테스트</td>
		              <td class="table-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae id a ipsa, esse maiores unde architecto illo. Impedit magni, aliquid nam molestias repudiandae nemo excepturi similique, cumque ipsam sequi aliquam?</td>
		              <td>4.0</td>
		              <td><button>수정</button></td>
		            </tr>
		            <tr>
		              <td><input type="checkbox" class="chkbox" name="check" onclick="checkSelectAll()"></td>
		              <td>test2</td>
		              <td>테스트2</td>
		              <td class="table-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque exercitationem, corrupti dolorem nemo autem ab molestiae corporis, accusamus debitis tenetur deserunt consequatur placeat unde incidunt ipsum. Eum exercitationem ex eius.</td>
		              <td>4.5</td>
		              <td><button>수정</button></td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		    </div>
		  </section>
	
  

  <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
  <script src="/js/admin.js"></script>
  </div>
</body>
</html>