<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/mypage/company/company_review.css">
</head>
<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_company :: mypage_company_fragment}"></div>
			<!-- 내용 -->
		    <div class="content">
		      <h2 class="content-main">리뷰 조회</h2>
		      <div class="main">
		        <table class="table">
		          <thead>
		            <tr>
		              </th>
		              <th>공연장</th>
		              <th>닉네임</th>
		              <th>내용</th>
		              <th>평점</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr th:each="review : ${review_list}"><!-- th:each -->
		              <!-- th:text -->
		              <td th:text="${review.nickname}"></td>
		              <td th:text="${review.hall_name}"></td>
		              <td class="table-content" th:text="${review.review_content}"></td>
		              <td th:text="${review.rating}"></td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		    </div>
		  </section>
	
  

  <script src="/js/admin.js"></script>
  <script src="/js/open_menu.js"></script>
  </div>
</body>
</html>