<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/company/company_info.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_company :: mypage_company_fragment}"></div>
			<!-- 우측 메인 컨텐츠 -->
			<div class="content">
				<h2 class="content-main">사업자 정보</h2>
				<div class="list">
					<h2>대표 정보</h2>
					<div class="first">
						<div class="list-name">대표이름</div>
						<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
						<div class="list-con">대장강아지</div>
						<button id="btn" class="button">수정</button>
					</div>
					<div>
						<div class="list-name">대표이메일</div>
						<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
						<div class="list-con">captaindog@naver.com</div>
						<button id="btn" class="button">수정</button>
					</div>
					<div class="last">
						<div class="list-name">대표번호</div>
						<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
						<div class="list-con">010-5555-5555</div>
						<button id="btn" class="button">수정</button>
					</div>
				</div>
				<div class="paper">
					<form action="/api/gcs/upload" method="post" enctype="multipart/form-data">
					<h2>증빙서류 제출</h2>
					<div class="paper-list">
						<div class="first">
							<div class="list-name">사업자등록증</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">※ 사업자 등록증을 입증할 수 있는 서류를 첨부해주세요<br>
								※ pdf 파일만 등록할 수 있습니다.
								<div class="file">
									<input type="file" name="file" id="" accept=".pdf">
								</div>
							</div>
						</div>
						<div>
							<div class="list-name">영업신고증</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">※ 영업 신고증을 입증할 수 있는 서류를 첨부해주세요<br>
								※ pdf 파일만 등록할 수 있습니다.
								<div class="file">
									<input type="file" name="file" id="" accept=".pdf">
								</div>
							</div>
						</div>
						<div>
							<div class="list-name">통장 사본</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">※ 통장 사본을 입증할 수 있는 서류를 첨부해주세요<br>
								※ pdf 파일만 등록할 수 있습니다.
								<div class="file">
									<input type="file" name="file" id="" accept=".pdf">
								</div>
							</div>
						</div>
						<div class="last">
							<div class="list-name">법인 등기부 등본</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">※ 법인 등기부 등본을 입증할 수 있는 서류를 첨부해주세요<br>
								※ pdf 파일만 등록할 수 있습니다.
								<div class="file">
									<input type="file" name="file" id="" accept=".pdf">
								</div>
							</div>
						</div>
					</div>
					<div class="button">
						<button>제출</button>
					</div>
					</form>
				</div>
			</div>

		</section>

		<script src="/js/open_menu.js"></script>
	</div>

</body>

</html>