<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/company/company_info.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_company :: mypage_company_fragment}"></div>
			<!-- 우측 메인 컨텐츠 -->
			<div class="content">
				<div class="msg">
					<p th:if="${#strings.equals(my_info.authority, 'SCN')}" th:unless="${fileCount < 4}">관리자 승인
						후 인증
						완료됩니다.</p>
				</div>
				<form th:action="@{/company/info}" method="post" th:if="${#strings.equals(my_info.authority, 'SCN')}"
					th:unless="${fileCount >= 4}" enctype="multipart/form-data">
					<h2 class="content-main">사업자 정보</h2>
					<div class="list">
						<h2>대표 정보</h2>
						<div class="first">
							<div class="list-name">대표이름</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" name="owner_name" th:value="${com_info.owner_name}" id="owner_name">
							</div>
							<span class="owner_check" id="owner_check"></span>
						</div>
						<div>
							<div class="list-name">대표이메일</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" name="owner_email" th:value="${com_info.owner_email}"
									id="owner_email">
							</div>
							<span class="email_check" id="email_check"></span>
						</div>
						<div class="last">
							<div class="list-name">대표번호</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" name="owner_phone" th:value="${com_info.owner_phone}"
									id="owner_phone">
							</div>
							<span class="phone_check" id="phone_check"></span>
						</div>
						<!--<button id="btn" class="button" onclick="return check()" disabled>저장</button>-->
					</div>
					<!--</form>-->
					<div class="paper">
						<!--<form th:if="${#strings.equals(my_info.authority, 'SCN')}" th:unless="${fileCount >= 4}"
						action="/api/gcs/upload" method="post" enctype="multipart/form-data">-->
						<input type="hidden" name="company_id" th:value="${com_info.company_id}" id="company_id">
						<h2>증빙서류 제출</h2>
						<div class="paper-list">
							<div class="first">
								<div class="list-name">사업자등록증</div>
								<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
								<div class="list-con">※ 사업자 등록증을 입증할 수 있는 서류를 첨부해주세요<br>
									※ pdf 파일만 등록할 수 있습니다.
									<div class="file">
										<input type="file" name="file" id="file1" accept=".pdf">
									</div>
								</div>
							</div>
							<div>
								<div class="list-name">영업신고증</div>
								<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
								<div class="list-con">※ 영업 신고증을 입증할 수 있는 서류를 첨부해주세요<br>
									※ pdf 파일만 등록할 수 있습니다.
									<div class="file">
										<input type="file" name="file" id="file2" accept=".pdf">
									</div>
								</div>
							</div>
							<div>
								<div class="list-name">통장 사본</div>
								<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
								<div class="list-con">※ 통장 사본을 입증할 수 있는 서류를 첨부해주세요<br>
									※ pdf 파일만 등록할 수 있습니다.
									<div class="file">
										<input type="file" name="file" id="file3" accept=".pdf">
									</div>
								</div>
							</div>
							<div class="last">
								<div class="list-name">법인 등기부 등본</div>
								<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
								<div class="list-con">※ 법인 등기부 등본을 입증할 수 있는 서류를 첨부해주세요<br>
									※ pdf 파일만 등록할 수 있습니다.
									<div class="file">
										<input type="file" name="file" id="file4" accept=".pdf">
									</div>
								</div>
							</div>
						</div>
						<div class="button">
							<button id="paperBtn" onclick="return submitCheck()" disabled>제출</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<script src="/js/open_menu.js"></script>
		<script>
			// 확인 취소
			function check() {
				var result = confirm("사업자 정보를 저장하시겠습니까?");
				if (result) {
					alert("사업자 정보가 저장되었습니다.");
					return true;
				} else {
					return false;
				}
			}

			// 대표명 유효성 검사
			// 영어나 한글로 이루어진 2~15자
			function nameCheck() {
				let owner_name = document.getElementById('owner_name').value;
				const regExp = /^[가-힣a-zA-Z]{2,15}$/;
				let owner_check = document.getElementById('owner_check');

				if (!owner_name.match(regExp)) {
					owner_check.innerHTML = '영어나 한글로 이루어진 2~15자를 입력해주세요.'
					owner_check.style.color = 'red';
					return false;
				} else {
					owner_check.innerHTML = '올바른 닉네임입니다.'
					owner_check.style.color = 'green';
					return true;
				}
			}

			// 대표이메일 유효성 검사
			function emailCheck() {
				let owner_email = document.getElementById('owner_email').value;
				const regExp = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$/;
				let email_check = document.getElementById('email_check');

				if (!owner_email.match(regExp)) {
					email_check.innerHTML = '올바른 이메일을 입력해주세요.'
					email_check.style.color = 'red';
					return false;
				} else {
					email_check.innerHTML = '올바른 이메일입니다.'
					email_check.style.color = 'green';
					return true;
				}
			}

			// 핸드폰 유효성 검사
			function phoneCheck() {
				let phone = document.getElementById('owner_phone').value;
				const regExp = /^\d{3}-\d{4}-\d{4}$/;
				let phone_check = document.getElementById('phone_check');

				if (!phone.match(regExp)) {
					phone_check.innerHTML = "010-xxxx-xxxx 형식으로 입력해주세요."
					phone_check.style.color = 'red';
					return false;
				} else {
					phone_check.innerHTML = "올바른 핸드폰 번호입니다."
					phone_check.style.color = 'green';
					return true;
				}
			}

			// 7개의 input 다 입력되면 버튼 활성화
			function checkAllInputs() {
				let nameValid = nameCheck();
				let emailValid = emailCheck();
				let phoneValid = phoneCheck();

				let fileInputs = document.querySelectorAll('input[type=file]');
				let allFile = true;

				for (let i = 0; i < fileInputs.length; i++) {
					if (fileInputs[i].value === '') {
						allFile = false;
						break;
					}
				}

				return nameValid && emailValid && phoneValid && allFile;
			}

			function activateBtn() {
				let paperBtn = document.getElementById('paperBtn');
				paperBtn.disabled = !checkAllInputs();
			}

			document.addEventListener('DOMContentLoaded', function () {
				let fileInputs = document.querySelectorAll('input[type=file]');
				let paperBtn = document.getElementById('paperBtn');

				fileInputs.forEach(function (fileInput) {
					fileInput.addEventListener('change', activateBtn);
				});

				document.getElementById('owner_name').addEventListener('input', activateBtn);
				document.getElementById('owner_email').addEventListener('input', activateBtn);
				document.getElementById('owner_phone').addEventListener('input', activateBtn);
			});

			function submitCheck() {
				var result = confirm("서류를 제출 하시겠습니까?\n(*제출한 후에는 수정이 불가능합니다)");
				if (result) {
					alert("서류 제출이 완료되었습니다.\n(*관리자 승인 후 공연장 등록을 할 수 있습니다)");
					return true;
				} else {
					return false;
				}
			}
		</script>
	</div>





</body>

</html>