<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>예약 내역</title>
	<link rel="stylesheet" href="/css/mypage/company/company_reserve.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_company :: mypage_company_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main" th:if="${#strings.equals(my_info.authority, 'SCY')}">예약 내역</h2>
				<div class="msg">
					<p th:if="${#strings.equals(my_info.authority, 'SCN')}">관리자 승인 후 이용 가능합니다.</p>
				</div>
				<div class="list" th:each="reserve : ${reserve_list}"
					th:if="${#strings.equals(my_info.authority, 'SCY')}">
					<div class="item">
						<div class="img">
							<img th:if="${reserve.mainImage != null}" th:src="${reserve.mainImage.path}"
								th:data-file="${reserve.mainImage.org_file_name}" alt="">
						</div>
						<div class="hall-info">
							<div class="hall-name" th:text="${reserve.hall_name}"></div>
							<div class="user-name" th:text="${reserve.name}"></div>
							<div class="date">
								<span
									th:text="${reserve.reserve_date + ' ' + reserve.reserve_time}"></span>
							</div>
						</div>
						<div class="button">
							<form method="post" action="/company/reserve/delete">
								<input type="hidden" name="reserve_id" th:value="${reserve.reserve_id}">
								<button type="submit" onclick="return confirmDelete()">예약 취소</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="/js/open_menu.js"></script>
		<script>
			function confirmDelete() {
				var result = confirm("예약 삭제를 하시겠습니까?");
				if (result) {
					alert("예약 삭제가 완료되었습니다.");
					return true;
				} else {
					return false;
				}
			}
		</script>
	</div>



</body>

</html>