<!DOCTYPE html>  
<html layout:decorate="~{layout/default_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link rel="stylesheet" href="/css/board/board_notice.css">
 
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
		    <div class="card-header4"><a href="http://127.0.0.1:5500/templates/board/ddd.html#"><h1>게시판</h1></a></div>
		    <div class="card-edit">
				<form method="post" th:action="@{/notice/insert}">
		            <div class="title">
						<input type="hidden" name="announ_id" th:value="${notice.announ_id}">
		                제목<input type="text" name="subject" placeholder="제목을 입력하세요." th:value="${notice.subject}">
		            </div>
		            <div class="msg">
		                <!-- textarea에서는 input의 value와는 다르게 textarea 안에 내용을 작성하며 tab을 없앤다. -->
		                내용<textarea name="content" placeholder="내용을 입력하세요." th:text="${notice.content}">
		
		                </textarea>
		                <input type="file">
		            </div>
		
			        <div class="btn-edit">
						<button>작성</button>
			            <!--<a href="../BOARD/index.html">작성</a>-->
			        </div>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>