<!DOCTYPE html>  
<html layout:decorate="~{layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <link rel="stylesheet" href="/css/board/board.css">
    <title>공간</title>
  </head>	    
<body>
	<div layout:fragment="content">	
		
	    <!-- 1. 게시판의 화면은 class="card"로 적용 -->
	    <div class="card">
	
	        <!-- 1-1. 게시판 이름은 class="card-header"로  <div>로 구역 설정 -->
	        <div class="card-header"><h1>게시판</h1></div>
	
	        <!-- 1-2. 내용은 class="card-body"로 <div>로 구역 설정 -->
	        <div class="card-body">
	<!--
	             검색어 입력하기 
				<form>
		           <input type="search" placeholder="검색어를 입력하세요.">
		           	<a class="search" href="#">검색</a>				
					
				</form>
	-->
	            <!-- 내용을 HTML로 작성하기 -->
	            <div class="content-box" th:each="notice : ${noticeList}">
	                
	                <div class="title"><a href="view.html"><span th:text="${notice.subject}"></span></a></div>
	                <div class="delete"><span th:text="${notice.create_date}"></span></div>
	            </div>
	
	            <ul class="number">
	                <li><a href="#">&lt;</a></li>
	                <li><a href="#" class="active">1</a></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	                <li><a href="#">4</a></li>
	                <li><a href="#">&gt;</a></li>
	            </ul>
	        </div>
	
	        <div class="writeBtn">
	            <a href="write.html">글쓰기</a>
	        </div>
	    </div>
	</div>
</body>
</html>