<!DOCTYPE html>  
<html layout:decorate="~{layout/default_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/board_page.css">
 
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
		    <div class="card-header4"><a href="http://127.0.0.1:5500/templates/board/ddd.html#"><h1>게시판</h1></a></div>
		    <div class="card-edit">
                <div class="box">
                    <div class="title">제목</div>
                    <div class="box1">백설공주김설</div>
                </div>
		            
                  
		            <div class="msg">
		                
		                내용<textarea name="content" placeholder="내용을 입력하세요.">
		
		                </textarea>
		               
		            </div>
		
			     
				
			</div>
		</div>
	</div>
	
</body>
</html>