<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공간</title>
  <link rel="stylesheet" href="/css/board/notice.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
</head>

<body>
	<div layout:fragment="content">
  

    <div class="notice">
		<div class="content-box" th:each="notice : ${noticeList}">
		              
		             
		          </div>
      <h1>공지사항</h1> <br> <hr> <br>
      <ul>
        <li th:each="notice : ${noticeList}">
          <h3>
            <a href="#" target="_blank" class="content-wrapper"th:text="${notice.subject}"></a>
			<span class="expand-btn" onclick="toggleContent(this)">[ + ]</span>
			<div class= time><span th:text="${notice.create_date}"></span> </div>
          </h3>
          <div class="content">
            <p th:text="${notice.content}"></p>
          </div>
        </li>
        
  
        <div class="writeBtn">
          <a href="write.html">글쓰기</a>
      </div>

    </div>
    

  <script>
    $(document).ready(function() {
    var itemsToShow = 10;
    var loadButton = $("#load");
    var listItems = $(".notice ul li");

    listItems.slice(itemsToShow).hide();

    loadButton.click(function(e) {
        e.preventDefault();
        var hiddenItems = listItems.filter(":hidden");
        var itemsToLoad = hiddenItems.slice(0, 5);
        itemsToLoad.slideDown();
        
        // 숨겨진 아이템이 1개 이상일 때 알람 표시
        if (hiddenItems.length === 0) {
            alert("끝입니다.");
	        }
	    });
	} )
	
	var isContentVisible = false; // 추가 변수
	
	function toggleContent(button) {
	  var content = $(button).parent().next(".content");
	  content.slideToggle();
	  isContentVisible = !isContentVisible; // 상태를 반전시킴
	  $(button).text(isContentVisible ? "[ - ]" : "[ + ]"); // 상태에 따라 버튼 텍스트 설정
	}
  </script>
  </div>
</body>
</html>