<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/admin/admin_notice.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">공지사항</h2>
				<div class="main">
					<table class="table">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notice, i : ${notice_list}">
								<td th:text="${i.count}"></td>
								<td th:text="${notice.subject}"></td>
								<td th:text="${notice.create_date}"></td>
							</tr>
						</tbody>
					</table>
					<div class="button">
						<a class="submit-btn" type="button" th:href="@{/notice/write}">공지사항 등록</a>
					</div>
				</div>
			</div>
		</section>


		<script src="/js/open_menu.js"></script>
	</div>

</body>

</html>