<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>리뷰 관리</title>
	<link rel="stylesheet" href="/css/mypage/admin/admin_review.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">리뷰 관리</h2>
				<div class="search">
					<form name="search">
						<select class="select" name="type" id="">
							<option value="hallname">공연장</option>
							<option value="user">작성자</option>
						</select>
						<input type="text">
						<input type="button" value="검색">
					</form>
				</div>
				<div class="main">
					<table class="table">
						<thead>
							<tr>
								<th class="box"><input type="checkbox" class="chkbox" name="selectAll" value="selectAll"
										onclick="selectAll(this)"></th>
								<th>공연장</th>
								<th>작성자</th>
								<th class="review-content">리뷰내용</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="box"><input type="checkbox" class="chkbox" name="check"
										onclick="checkSelectAll()"></td>
								<td>안녕하세요홀</td>
								<td>강아지</td>
								<td class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora voluptas aperiam sunt, asperiores adipisci, exercitationem consectetur rem
									explicabo repellendus voluptatibus, aspernatur amet architecto nisi quae soluta quia
									voluptatem accusamus voluptate!</td>
							</tr>
						</tbody>
					</table>
					<div class="button">
						<button>리뷰 삭제</button>
					</div>
				</div>
			</div>
		</section>




		<script src="/js/open_menu.js"></script>
		<script src="/js/admin.js"></script>
	</div>
</body>

</html>