<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/admin/admin_notice.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">공지사항</h2>
				<div class="main">
					<form method="post" action="/admin/notice/delete">
						<table class="table">
							<thead>
								<tr>
									<th class="box"><input type="checkbox" class="chkbox" name="selectAll"
											value="selectAll"></th>
									<th>번호</th>
									<th>제목</th>
									<th>작성날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="notice, i : ${notice_list}">
									<td class="box"><input type="checkbox" th:value="${notice.announ_id}" class="chkbox"
											name="check" onclick="checkSelectAll()"></td>
									<td th:text="${i.count}"></td>
									<td><a th:href="@{/admin/notice/{id}(id=${notice.announ_id})}"
											th:text="${notice.subject}"></a></td>
									<td th:text="${notice.create_date}"></td>
								</tr>
							</tbody>
						</table>
						<div class="button">
							<a class="submit-btn" type="button" th:href="@{/notice/write}">공지사항 등록</a>
							<button class="delete-btn" onclick="return deleteCheck()">공지사항 삭제</button>
						</div>
					</form>
				</div>
			</div>
		</section>


		<script src="/js/open_menu.js"></script>
		<script src="/js/admin.js"></script>
		<script>
			function deleteCheck() {
				var result = confirm("공지사항을 삭제하시겠습니까?")
				if (result) {
					alert("공지사항이 삭제되었습니다.")
					return true;
				} else {
					return false;
				}
			}
		</script>
	</div>

</body>

</html>