<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/mypage/admin/admin.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">회원관리</h2>
				<div class="tabs">
					<input id="all" type="radio" name="tab_item" checked>
					<label class="tab_item" for="all">전체 회원</label>
					<input id="notLeave" type="radio" name="tab_item">
					<label class="tab_item" for="notLeave">가입 중인 회원</label>
					<input id="leave" type="radio" name="tab_item">
					<label class="tab_item" for="leave">탈퇴 회원</label>
					<!-- 전체 회원 Tab -->
					<div class="tab_content" id="all_content">
						<div class="search">
							<form id="searchForm" name="search" th:action="@{/admin/search}" method="post">
								<select class="select" name="type" id="searchType1">
									<option value="email">아이디</option>
									<option value="nickname">닉네임</option>
								</select>
								<input type="text" id="searchInput1">
								<input type="button" value="검색" id="searchButton1">
							</form>
						</div>
						<form id="manageForm" name="manage" th:action="@{/admin/leave}" method="post">
							<div class="main">
								<table class="table" id="userTable">
									<thead>
										<tr>
											<th><input type="checkbox" class="chkbox" name="selectAll1"
													value="selectAll">
											</th>
											<th>아이디</th>
											<th>닉네임</th>
											<th>유저타입</th>
											<th class="leave">탈퇴상태</th>
										</tr>
									</thead>
									<tbody id="searchResults1">
										<tr th:each="user : ${user_list}"><!-- th:each -->
											<td><input type="checkbox" th:value="${user.user_id}" class="chkbox"
													name="check1"></td>
											<!-- th:text -->
											<td th:text="${user.email}"></td>
											<td th:text="${user.nickname}"></td>
											<td th:if="${#strings.equals(user.authority, 'SU')}" th:text="일반"></td>
											<td th:if="${#strings.equals(user.authority, 'SA')}" th:text="관리자"></td>
											<td th:if="${#strings.equals(user.authority, 'SCN')}"
												th:text="'승인되지 않은 법인'"></td>
											<td th:if="${#strings.equals(user.authority, 'SCY')}" th:text="'승인된 법인'">
											</td>
											<td th:if="${#strings.equals(user.leave_status, 'Y')}" th:text="탈퇴"></td>
											<td th:if="${#strings.equals(user.leave_status, 'N')}" th:text="탈퇴X"></td>
										</tr>
									</tbody>
								</table>
								<div class="button">
									<input disabled class="leave-btn" type="submit" value="탈퇴"
										onclick="return checkLeave()">
									<input disabled class="resign-btn" type="submit" value="재가입"
										th:formaction="@{/admin/resign}" onclick="return checkResign()">
								</div>
							</div>
						</form>
					</div>
					<!-- 가입 중인 회원 Tab -->
					<div class="tab_content" id="notLeave_content">
						<div class="search">
							<form id="" name="search" th:action="@{/admin/search}" method="post">
								<select class="select" name="type" id="searchType2">
									<option value="email">아이디</option>
									<option value="nickname">닉네임</option>
								</select>
								<input type="text" id="searchInput2">
								<input type="button" value="검색" id="searchButton2">
							</form>
						</div>
						<form name="leave" th:action="@{/admin/leave}" method="post">
							<div class="main">
								<table class="table">
									<thead>
										<tr>
											<th><input type="checkbox" class="chkbox" name="selectAll2"
													value="selectAll">
											</th>
											<th>아이디</th>
											<th>닉네임</th>
											<th>유저타입</th>
											<th class="leave">탈퇴상태</th>
										</tr>
									</thead>
									<tbody id="searchResults2">
										<tr th:each="user : ${user_list}"
											th:if="${#strings.equals(user.leave_status, 'N')}"><!-- th:each -->
											<td><input type="checkbox" th:value="${user.user_id}" class="chkbox"
													name="check2"></td>
											<!-- th:text -->
											<td th:text="${user.email}"></td>
											<td th:text="${user.nickname}"></td>
											<td th:if="${#strings.equals(user.authority, 'SU')}" th:text="일반"></td>
											<td th:if="${#strings.equals(user.authority, 'SA')}" th:text="관리자"></td>
											<td th:if="${#strings.equals(user.authority, 'SCN')}"
												th:text="'승인되지 않은 법인'"></td>
											<td th:if="${#strings.equals(user.authority, 'SCY')}" th:text="'승인된 법인'">
											</td>
											<td th:if="${#strings.equals(user.leave_status, 'N')}" th:text="탈퇴X"></td>
										</tr>
									</tbody>
								</table>
								<div class="button">
									<input disabled class="leave-btn" type="submit" value="탈퇴"
										onclick="return checkLeave()">
								</div>
							</div>
						</form>
					</div>
					<!-- 탈퇴 회원 Tab -->
					<div class="tab_content" id="leave_content">
						<div class="search">
							<form id="" name="search" action="/admin/search" method="post">
								<select class="select" name="type" id="searchType3">
									<option value="email">아이디</option>
									<option value="nickname">닉네임</option>
								</select>
								<input type="text" id="searchInput3">
								<input type="button" value="검색" id="searchButton3">
							</form>
						</div>
						<form name="resign" th:action="@{/admin/resign}" method="post">
							<div class="main">
								<table class="table">
									<thead>
										<tr>
											<th><input type="checkbox" class="chkbox" name="selectAll3"
													value="selectAll">
											</th>
											<th>아이디</th>
											<th>닉네임</th>
											<th>유저타입</th>
											<th class="leave">탈퇴상태</th>
										</tr>
									</thead>
									<tbody id="searchResults3">
										<!-- th:each -->
										<tr th:each="user : ${user_list}"
											th:if="${#strings.equals(user.leave_status, 'Y')}">
											<td><input type="checkbox" th:value="${user.user_id}" class="chkbox"
													name="check3"></td>
											<!-- th:text -->
											<td th:text="${user.email}"></td>
											<td th:text="${user.nickname}"></td>
											<td th:if="${#strings.equals(user.authority, 'SU')}" th:text="일반"></td>
											<td th:if="${#strings.equals(user.authority, 'SA')}" th:text="관리자"></td>
											<td th:if="${#strings.equals(user.authority, 'SCN')}"
												th:text="'승인되지 않은 법인'"></td>
											<td th:if="${#strings.equals(user.authority, 'SCY')}" th:text="'승인된 법인'">
											</td>
											<td th:if="${#strings.equals(user.leave_status, 'Y')}" th:text="탈퇴"></td>
										</tr>
									</tbody>
								</table>
								<div class="button">
									<input disabled class="resign-btn" type="submit" value="재가입"
										onclick="return checkResign()">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>



		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="/js/open_menu.js"></script>
		<script src="/js/admin.js"></script>
		<script src="/js/admin_user_search.js"></script>
		<script src="/js/admin_tab_button.js"></script>
	</div>
</body>

</html>