<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/admin/admin_company.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">법인 회원 승인</h2>
				<form method="post" action="/admin/company/approve">
					<div class="main">
						<table class="table">
							<thead>
								<tr>
									<th><input type="checkbox" class="chkbox" name="selectAll1" value="selectAll">
									<th>아이디</th>
									<th>대표이름</th>
									<th>대표이메일</th>
									<th>대표번호</th>
									<th class="paper">사업자등록증</th>
									<th class="paper">영업신고증</th>
									<th class="paper">통장사본</th>
									<th class="paper">등기부등본</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="com : ${com_list}">
									<td><input type="checkbox" th:value="${com.user_id}" class="chkbox" name="check1"
											onclick="checkSelectAll1()"></td>
									<td th:text="${com.email}"></td>
									<td th:text="${com.owner_name}"></td>
									<td th:text="${com.owner_email}"></td>
									<td th:text="${com.owner_phone}"></td>
									<td th:each="file : ${__${'com_file_list_' + com.company_id}__}">
										<a th:href="${file.path}" target="_blank"><i class="fa-solid fa-file-pdf fa-2x"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="button">
							<button class="submit-btn" type="submit" onclick="return approveCheck()">승인</button>
							<button class="submit-btn" type="submit" onclick="return unapproveCheck()"
								th:formaction="@{/admin/company/unapprove}">승인 거부</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<script src="/js/admin.js"></script>
		<script src="/js/open_menu.js"></script>
		<script>
			function approveCheck() {
				var result = confirm("법인 등록을 승인하시겠습니까?")
				if (result) {
					alert("법인 등록이 승인되었습니다.")
					return true;
				} else {
					return false;
				}
			}

			function unapproveCheck() {
				var result = confirm("법인 등록을 승인 거부하시겠습니까?")
				if (result) {
					alert("법인 등록이 승인 거부되었습니다.")
					return true;
				} else {
					return false;
				}
			}
		</script>
	</div>
</body>

</html>