<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자</title>
	<link rel="stylesheet" href="/css/mypage/admin/hall_info.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_admin :: mypage_admin_fragment}"></div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">공연장 정보</h2>
				<div class="search">
					<form name="search">
						<select class="select" name="type" id="searchType">
							<option value="hallname">공연장명</option>
							<option value="name">등록자명</option>
							<option value="region">지역</option>
							<option value="block">차단</option>
						</select>
						<input type="text" id="searchInput">
						<input type="button" value="검색" id="searchButton">
					</form>
				</div>
				<form name="block" action="/admin/hall/block" method="post">
					<div class="main">
						<table class="table">
							<thead>
								<tr>
									<th class="box"><input type="checkbox" class="chkbox" name="selectAll" value="selectAll"></th>
									<th>공연장명</th>
									<th>등록자명</th>
									<th>지역</th>
									<th>차단상태</th>
								</tr>
							</thead>
							<tbody id="searchResult">
								<tr th:each="halls : ${hall_list}">
									<td class="box"><input type="checkbox" th:value="${halls.hall_id}" class="chkbox"
											name="check" onclick="checkSelectAll()"></td>
									<!-- 이름 누르면 상세페이지로.. -->
									<td><a th:href="@{/hall/detail/{id}(id=${halls.hall_id})}" th:text="${halls.hall_name}"></a></td>
									<td th:text="${halls.name}"></td>
									<td th:text="${halls.address1 + ' ' + halls.address2}"></td>
									<td th:if="${#strings.equals(halls.visibility, 'N')}" th:text="O"></td>
									<td th:if="${#strings.equals(halls.visibility, 'Y')}" th:text="X"></td>
								</tr>
							</tbody>
						</table>
						<div class="button">
							<input class="block-btn" type="submit" value="차단" onclick="return blockCheck()">
							<input class="unblock-btn" type="submit" value="차단해제" onclick="return unblockCheck()"
								th:formaction="@{/admin/hall/unblock}">
						</div>
					</div>
				</form>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="/js/open_menu.js"></script>
		<script src="/js/admin.js"></script>
		<script src="/js/admin_hall_search.js"></script>
		<script>
			function blockCheck() {
				var result = confirm("차단하시겠습니까?")

				if (result) {
					alert("선택한 공연장이 차단되었습니다.")
					return true;
				} else {
					return false;
				}
			}

			function unblockCheck() {
				var result = confirm("차단을 해제하시겠습니까?")

				if (result) {
					alert("선택한 공연장의 차단이 해제되었습니다.")
					return true;
				} else {
					return false;
				}
			}

			
		</script>
	</div>
</body>

</html>