<!-- footer -->
<footer th:fragment="footerFragment">
  <div class="about">
    <h1>고객 센터</h1>
    <h1>02-1234-1234</h1>
    <p>문의시간 : 09:00 ~ 18:00</p>
    <div class="btns">
		<a href="/ask" class="btn">문의 사항</a>	 
	  <a href="/notice" class="btn">공지 사항</a>	  
    </div>
  </div>
  <div class="company">
    <p>
      (주) 공간 사업자 정보
      <br/>법인명 : 이준호 주식회사  대표이사 : 이준호
      <br/>사업자등록번호 822-88-00602 통신판매업:2017-서울서초-0774호 개인정보보호책임자 : 한남욱
      <br/>주소 : 서울특별시 성동구 성수동1가 72-71 2층 이준호 주식회사
      <br/>입점문의 : 입점문의하기   대표이메일 : info@gmail.com
      <br/>공간(주)는 통신판매중개자로서, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
      <br/>Copyright©2017 abc All rights reserved
    </p>
  </div>
</footer>
<!-- footer End -->