 <!-- hearder -->
 <header th:fragment="headerFragment">
   <div class="nav">
     <div class="left-content">
       <div class="logo">
         <a th:href="@{|/|}">
           <img src="/img/logo_text.png" alt="logo" />
         </a>
       </div>
       <a class="list-btn" th:href="@{|/list|}">
         대여 공간
       </a>
     </div>

     <div class="right-content">
       <div class="search-box">
         <form action="" name="search" class="search-from">
           <input type="text" name="content" id="content" placeholder="이곳에 공연장을 검색해보세요." />
           <i id="submit-btn" class="fa fa-search fa-3x" aria-hidden="true"></i>
         </form>
       </div>
	   
       <a th:if="${user_id} != null" class="mypage-btn" th:href="@{|/mypage|}">
         <i class="fa-solid fa-user fa-4x"></i>
         <p>My</p>
       </a>
       <a th:if="${user_id} == null" class="mypage-btn" th:href="@{|/login|}">
         <i class="fa-regular fa-user fa-4x"></i>
         <p>로그인</p>
       </a>

	  <a th:if="${user_id} != null" class="mypage-btn" th:href="@{|/logout|}">
        <p th:text="|${nickname} 님|"></p>
		<p>로그아웃</p>
     </a>
	   
     </div>
   </div>
   <script>
     const searchBtn = document.querySelector(".search-box");
     searchBtn.addEventListener("click", function () {
       document.querySelector("#content").focus();
     });

     const submitButton = document.querySelector("#submit-btn");
     submitButton.addEventListener("click", function () {
       const form = document.forms.search;
       form.submit();
     });
   </script>
 </header>
 <!-- hearder End -->