<!--어드민 마이페이지 좌측 메뉴-->
<div class="left" th:fragment="mypage_admin_fragment">
	<div class="left-main">
		<h2>관리자</h2>
		<i class="fas fa-user-cog fa-4x"></i>
	</div>
	<div class="left-menu">
		<ul>
			<a th:href="@{/admin}" target="_self">
				<li>회원 관리</li>
			</a>
			<a th:href="@{/admin/company}" target="_self">
				<li>법인 회원 승인</li>
			</a>
			<a th:href="@{/admin/hallinfo}" target="_self">
				<li>공연장 정보</li>
			</a>
			<a th:href="@{/admin/notice}" target="_self">
				<li>공지사항</li>
			</a>
		</ul>
	</div>
</div>