<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 관리</title>
  <link rel="stylesheet" href="../../static/css/admin_review.css">
</head>
<body>
    <!-- hearder -->
    <header>
      <div class="nav">
        <div class="left-content">
          <div class="logo">
            <a th:href="@{|/|}">
              <img src="../../static/img/logo_text.png" alt="logo" />
            </a>
          </div>
          <a class="list-btn" th:href="@{|/list|}">
            대여 공간
          </a>
        </div>
  
        <div class="right-content">
          <div class="search-box">
            <form action="" name="search" class="search-from">
              <input type="text" name="content" id="content" placeholder="이곳에 공연장을 검색해보세요." />
              <i id="submit-btn" class="fa fa-search fa-3x" aria-hidden="true"></i>
            </form>
          </div>
  
          <!-- <a class="mypage-btn" href="">
              <i class="fa-solid fa-user fa-4x"></i>
              <p>My</p>
              </a> -->
          <a class="mypage-btn" href="login.html">
            <i class="fa-regular fa-user fa-4x"></i>
            <p>로그인</p>
          </a>
        </div>
      </div>
      <script>
        const searchBtn = document.querySelector(".search-box");
        searchBtn.addEventListener("click", function () {
          document.querySelector("#content").focus();
        });
  
        const submitButton = document.querySelector("#submit-btn");
        submitButton.addEventListener("click", function () {
          const form = document.forms.search;
          form.submit();
        });
      </script>
    </header>
    <!-- hearder End -->
    <section class="con">
      <!-- 좌측 메뉴 -->
      <div class="left">
        <div class="left-main">
          <h2>관리자</h2>
          <i class="fas fa-user-cog fa-4x"></i>
        </div>
        <div class="left-menu">
          <ul>
            <a href="admin.html">
              <li>회원 관리</li>
            </a>
            <a href="hall_info.html" target="_self">
              <li>공연장 정보</li>
            </a>
            <a href="admin_notice.html" target="_self">
              <li>공지사항</li>
            </a>
            <a href="#" target="_self">
              <li class="open">리뷰 관리</li>
            </a>
            <a href="#" target="_self">
              <li>통계</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="content">
        <h2 class="content-main">리뷰 관리</h2>
        <div class="search">
          <form name="search">
            <select class="select" name="type" id="">
              <option value="hallname">공연장</option>
              <option value="user">작성자</option>
            </select>
            <input type="text">
            <input type="button" value="검색">
          </form>
        </div>
        <div class="main">
          
        </div>
      </div>
    </section>

    <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
</body>
</html>