<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/h_list_style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- hearder -->
    <header>
      <div class="nav">
		<div class="left-content">
		  <div class="logo">
		    <a th:href="@{|/|}">
		      <img src="../img/logo_text.png" alt="logo" />
		    </a>
		  </div>
		  <a class="list-btn" th:href="@{|/list|}">
		    대여 공간
		  </a>
		</div>

        <div class="right-content">
          <div class="search-box">
            <form action="" name="search" class="search-from">
              <input
                type="text"
                name="content"
                id="content"
                placeholder="이곳에 공연장을 검색해보세요."
              />
              <i
                id="submit-btn"
                class="fa fa-search fa-3x"
                aria-hidden="true"
              ></i>
            </form>
          </div>

          <!-- <a class="mypage-btn" href="">
            <i class="fa-solid fa-user fa-4x"></i>
            <p>My</p>
          </a> -->
          <a class="mypage-btn" th:href="@{|/login|}">
            <i class="fa-regular fa-user fa-4x"></i>
            <p>로그인</p>
          </a>
        </div>
      </div>
      <script>
        const searchBtn = document.querySelector(".search-box");
        searchBtn.addEventListener("click", function () {
          document.querySelector("#content").focus();
        });

        const submitButton = document.querySelector("#submit-btn");
        submitButton.addEventListener("click", function () {
          const form = document.forms.search;
          form.submit();
        });
      </script>
    </header>
    <!-- hearder End -->

    <!-- Item Filter -->
    <section class="filter">
      <h1>필터</h1>
      <div class="fil-container">
        <div class="fil-name">
          <p>지역</p>
        </div>
        <div class="tags">
          <div class="tag"><p>강서구</p></div>
          <div class="tag"><p>강남구</p></div>
        </div>
      </div>
      <div class="fil-container">
        <div class="fil-name">
          <p>공간유형</p>
        </div>
        <div class="tags">
          <div class="tag"><p>대강당/극장</p></div>
        </div>
      </div>
      <div class="fil-container">
        <div class="fil-name">
          <p>가격</p>
        </div>
        <div class="tags">
          <div class="tag"><p>50~100 만원</p></div>
        </div>
      </div>
      <div class="fil-container">
        <div class="fil-name">
          <p>인원수</p>
        </div>
        <div class="tags">
          <div class="tag"><p>200명 이상</p></div>
        </div>
      </div>
    </section>
    <!-- Item Filter End -->

    <!-- Hall List -->
    <section class="hall-list">
      <div class="con">  
        <div class="drop-menu">
          <p class="cur-item">인기순</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="box-container">
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
            </div>
          </div>
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
            </div>
          </div>
          
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
            </div>
          </div>
  
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 </p>
            </div>
          </div>
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">1일</p>
            </div>
          </div>
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
            </div>
          </div>
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
            </div>
          </div>
          <div class="box">
            <div class="imgbox">            
              <img src="" alt="">
              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
            </div>
            <div class="content">
              <p class="address-text">oo대학 / 경기 화성시</p>
              <p class="title-text">난파 음악관 콘서트 홀</p>
              <p class="price-text"><span class="point">300,000</span>원~</p>
              <p class="time-text">오전 | 오후 | 야간</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hall List End -->

    <!-- footer -->
    <footer>
      <div class="about">
        <h1>고객 센터</h1>
        <h1>02-1234-1234</h1>
        <p>문의시간 : 09:00 ~ 18:00</p>
        <div class="btns">
          <div class="btn">문의 사항</div>
          <div class="btn">공지 사항</div>
        </div>
      </div>
      <div class="company">
        <p>
          (주) 공간 사업자 정보
          <br />법인명 : 이준호 주식회사 대표이사 : 이준호 <br />사업자등록번호
          822-88-00602 통신판매업:2017-서울서초-0774호 개인정보보호책임자 :
          한남욱 <br />주소 : 서울특별시 성동구 성수동1가 72-71 2층 이준호
          주식회사 <br />입점문의 : 입점문의하기 대표이메일 : info@gmail.com
          <br />공간(주)는 통신판매중개자로서, 상품의 예약, 이용 및 환불 등과
          관련한 의무와 책임은 각 판매자에게 있습니다. <br />Copyright©2017 abc
          All rights reserved
        </p>
      </div>
    </footer>
    <!-- footer End -->

    <script
      src="https://kit.fontawesome.com/194e6948f1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
