<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/hall_form.css">
    <title>Document</title>
  </head>
  <body>
    <!-- hearder -->
    <header>
      <div class="nav">
        <div class="left-content">
          <div class="logo">
            <a th:href="@{|/|}">
              <img src="../../static/img/logo_text.png" alt="logo" />
            </a>
          </div>
          <a class="list-btn" th:href="@{|/list|}"> 대여 공간 </a>
        </div>

        <div class="right-content">
          <div class="search-box">
            <form action="" name="search" class="search-from">
              <input
                type="text"
                name="content"
                id="content"
                placeholder="이곳에 공연장을 검색해보세요."
              />
              <i
                id="submit-btn"
                class="fa fa-search fa-3x"
                aria-hidden="true"
              ></i>
            </form>
          </div>

          <!-- <a class="mypage-btn" href="">
              <i class="fa-solid fa-user fa-4x"></i>
              <p>My</p>
            </a> -->
          <a class="mypage-btn" href="login.html">
            <i class="fa-regular fa-user fa-4x"></i>
            <p>로그인</p>
          </a>
        </div>
      </div>
      <script>
        const searchBtn = document.querySelector(".search-box");
        searchBtn.addEventListener("click", function () {
          document.querySelector("#content").focus();
        });

        const submitButton = document.querySelector("#submit-btn");
        submitButton.addEventListener("click", function () {
          const form = document.forms.search;
          form.submit();
        });
      </script>
    </header>
    <!-- hearder End -->


    <section class="hall-form">
      <h1 class="header-text">내 공연장 등록</h1>
      
      <form action="">
        <label for="hallName">
          <p class="input-name">장소 이름 (제목)</p>
          <input type="text" name="hallName" id="hallName">
        </label>

        <label>
          <p class="input-name">주소</p>
          <input type="text" name="" id="addr1" disabled="true">
          <div class="addr-btn">주소 검색</div>
        </label>

        <label id='image_wrap' for="imgfile">
          <p class="input-name">사진</p>
          <a href="javascript:" onclick="fileUploadAction();" class="addr-btn">파일 업로드</a>
          <input type="file" name="imgfile" id="imgfile" accept="image/gif, image/jpeg, image/png" multiple hidden/>
        </label>

        <div class="img-input-wrap">
          <img id="img"/>
        </div>

        <label>
          <p class="input-name">상세 주소</p>
          <input type="text" name="" id="">
        </label>

        <label class="hall-size">
          <p class="input-name">면적(㎡)</p>
          <input type="number" name="" id=""><span>㎡</span>
        </label>
        <label class="hall-size">
          <p class="input-name">가로(m)</p>
          <input type="number" name="" id=""><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">세로(m)</p>
          <input type="number" name="" id=""><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">천장높이(m)</p>
          <input type="number" name="" id=""><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">최대 수용 인원(명)</p>
          <input type="number" name="" id=""><span>명</span>
        </label>
        
        <label class="text-area">
          <p class="input-name">상세 설명</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>

        <label class="text-area">
          <p class="input-name">주의 사항</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>
      </form>
      

      <h1 class="header-text">공연장 장비 등록</h1>

      
      <a href="javascript:" class="btn" onclick="submitAction();">등록</a>
    </section>

    <!-- footer -->
    <footer>
      <div class="about">
        <h1>고객 센터</h1>
        <h1>02-1234-1234</h1>
        <p>문의시간 : 09:00 ~ 18:00</p>
        <div class="btns">
          <div class="btn">문의 사항</div>
          <div class="btn">공지 사항</div>
        </div>
      </div>
      <div class="company">
        <p>
          (주) 공간 사업자 정보
          <br/>법인명 : 이준호 주식회사  대표이사 : 이준호
          <br/>사업자등록번호 822-88-00602 통신판매업:2017-서울서초-0774호 개인정보보호책임자 : 한남욱
          <br/>주소 : 서울특별시 성동구 성수동1가 72-71 2층 이준호 주식회사
          <br/>입점문의 : 입점문의하기   대표이메일 : info@gmail.com
          <br/>공간(주)는 통신판매중개자로서, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
          <br/>Copyright©2017 abc All rights reserved
        </p>
      </div>
    </footer>
    <!-- footer End -->

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
      // 이미지 정보 담을 배열
      let sel_files = [];

      $(document).ready(function(){
        $('#imgfile').on('change', handleImgFileSelect);

        
   
      });

      function fileUploadAction() {
        console.log('fileUploadAction');
        $('#imgfile').trigger('click');
      }

      function handleImgFileSelect(e) {
        // 이미지 정보 초기화
        sel_files = [];
        $('.img-input-wrap').empty();

        let files = e.target.files;
        let filesArr = Array.prototype.slice.call(files);

        let index = 0;
        filesArr.forEach(function(f) {
          if(!f.type.match('image.*')){
            alert('이미지 파일만 업로드 할 수 있습니다.');
            return;
          }
          
          sel_files.push(f);
          
          let reader = new FileReader();
          reader.onload = function(e) {
            var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction("+index+");\" id=\"img_id_"+index+"\"><img src=\"" + e.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
            $('.img-input-wrap').append(html);
            index++;
          }
          reader.readAsDataURL(f);
        });


        // add이벤트리스너로 바꾸기
        function deleteImageAction(index) {            
            console.log("index : "+index);
            sel_files.splice(index, 1);
 
            var img_id = "#img_id_"+index;
            $(img_id).remove();
 
            console.log(sel_files);
        }   

      }

    </script>
    <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
  </body>
</html>
