<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main_style.css" />
    <title>공간</title>
  </head>
  <body>	
	<div layout:fragment="content">	
		  <!-- 베너 부분 -->
		  <section class="main-banner">
		    <div class="container">
		      <div class="picture-contain p1">
		        <div class="picture">
		          <img src="" alt="" />
		        </div>
		      </div>
		      <div class="picture-contain p2">
		        <div class="picture">
		          <img src="" alt="" />
		        </div>
		      </div>
		      <div class="picture-contain p3">
		        <div class="picture">
		          <img src="" alt="" />
		        </div>
		      </div>
		
		      <div class="banner-text">
		        <h1>문화 <span class="point">공간</span>의</h1>
		        <h1>시작</h1>
		        <p>공간에서 시작되는 간편한 공연의 시작</p>
		      </div>
		    </div>
		  </section>
		  <!-- 베너 부분 end -->
		
		  <!-- 지역별 리스트 목록 -->
		  <section class="local-list">
		    <h1 class="heading">- 지역별 -</h1>
		    <div class="content">
		      <i id="left-arrow" class="fa fa-arrow-left fa-5x" aria-hidden="true"></i>
		      <div class="box-container">
		        <div class="box">
		          <h1>서울</h1>
		        </div>
		        <div class="box">
		          <h1>경기</h1>
		        </div>
		        <div class="box">
		          <h1>인천</h1>
		        </div>
		        <div class="box">
		          <h1>부산</h1>
		        </div>
		        <div class="box">
		          <h1>대전</h1>
		        </div>
		      </div>
		      <i id="left-arrow" class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
		    </div>
		  </section>
		  <!-- 지역별 리스트 목록 end -->
		
		
		
		  <!-- 최신순 리스트 목록 -->
		  <section class="hall-list">
		    <div class="con">
		
		      <h1 class="heading">- 최신 공연장 -</h1>
		      <div class="box-container">
				<th:block th:each="hall, index : ${hallList}" th:if="${index.index} < 8" >
					<div class="box" th:id="${hall.hall_id}" th:onclick="|location.href='@{/hall/detail/}' + ${hall.hall_id}|">
					  <div class="imgbox">            
					    <img src="" alt="">
					<i id="like-btn" class="fa-regular fa-heart fa-4x" aria-hidden="true"></i>
					  </div>
					  <div class="content">
					<div class="content-top">
						    <p class="address-text" th:text="|${hall.address1.substring(0, 6)}|"></p>
						<div>
							<i class="fa fa-star fa-2x" aria-hidden="true"></i>
							<p th:text="|(${hall.rating})|"></p>
							<i id="like_icon" class="fa-regular fa-heart fa-2x" aria-hidden="true"></i>
							<p th:text="|(${hall.likeNum})|"></p>												
						</div>
					</div>
					    <p class="title-text" th:text="${hall.hall_name}">난파 음악관 콘서트 홀</p>
					    <p class="price-text"><span th:text="${hall.minPrice}" class="point">300,000</span>원~</p>
						<div class="time-text">
						  <th:block th:each="time, index : ${hall.hallTimeList}">
							<p th:text="|${time.type}|"></p>
							<span th:if="${index.index}+1 < ${hall.hallTimeList.size()}">|</span>							
						  </th:block>
						</div>
					  </div>
					</div>
				</th:block>


		      </div>
		      <div class="btn" th:onclick="|location.href='@{/list}'|">더보기</div>
		    </div>
		  </section>
		  <!-- 최신순 리스트 목록 end -->
		
		
		  <!-- 리뷰 홍보 start -->
		  <section class="review">
		    <div class="image">
		      <img src="" alt="">
		    </div>
		    <div class="content">
		      <h1>성공적인 무대의 후기들<br/>지금 공간을 통해<br/>경험해 보세요.</h1>
		      <div class="btn">더보기</div>
		    </div>
		  </section>
		  <!-- 리뷰 홍보 end -->
		
		  <!-- 공연장 공연자 바로가기 Start -->
		    <section class="user-move">
		      <div class="con">
		        <h1>공연자</h1>
		        <p>공연자이신가요?</p>
		        <p>지금 <span>공연자 정보</span>를 입력하고<br/>공간의 유용한 기능을 체험해 보세요!</p>
		        <div class="btn" id="su-move">내 정보</div>
		      </div>
		      <div class="con">
		        <h1>공연장 관리</h1>
		        <p>공연장을 등록 하고 싶으신가요?</p>
		        <p><span>사업자 인증</span>을 마무리하고<br/>내 공연장을 등록, 관리 할 수 있습니다.</p>
		        <div class="btn" id="sc-move"  th:onclick="|location.href='@{/hall/form}'|"  >공연장 등록</div>
		      </div>
		    </section>
		  <!-- 공연장 공연자 바로가기 End -->
		     
	</div>




    <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
  </body>
</html>
