<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login_welcome_corporation.css">
</head>
<body>
    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2017/08/02/23/42/dark-2574089_1280.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;}
    </style>  
    
    <div class="ttt">
        <h1>공연의 <span style="color: #FFCA63;">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h1>환영 합니다!</h1>
                <h2>공연장 대여 중계 사이트 <span style="color: #FFCA63;">공간</span> 입니다</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="submit" value="홈 화면으로" onclick="alert('확이이이ㅣㅇㄴ')">
                </form>
            </div>

            <div class="btn-box">
                <div class="con">
                    <div class="box">
                    <h2>공연장 등록 등을 위해서는</h2>
                    <h2>추가 사업자 정보 입력이 필요합니다.</h2> 
                     <p>‘마이페이지’ -> ‘내 공연팀 정보’ 에서 확인, 등록하실 수 있습니다.</p>
                     <div class="box1">
                         <button>사업자 정보 등록</button>
                        </div>
                    </div>
               </div>
                



            </div>
                    
                    
                    
</body>
</html>

