<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/loginjoin.css">
  <style>
    body{
        background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<body>
    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2017/08/02/23/42/dark-2574089_1280.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;}
    </style>
    
    <div class="ttt">
        <h1>공연의 <span style="color: #FFCA63;">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h2>일반 회원 가입</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="text" name="userName" placeholder="아이디 ex)abc12@gmail.com">
                    <input type="password" name="userPassword" placeholder="비밀 번호">
                    <input type="password1" name="userPassword1" placeholder="비밀 번호 확인">
                    <input type="text1" name="username1" placeholder="닉네임">
                    <input type="text2" name="username2" placeholder="이름">
                    <input type="phone" name="userphone" placeholder="">
                
                 
                </form>
            </div>


        </div>
      </section>



</body>

</body>
</html>