<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login_corporation.css">
</head>
<body>
    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2017/08/02/23/42/dark-2574089_1280.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;}
    </style>
    
    <div class="ttt">
        <h1>공연의 <span style="color: #FFCA63;">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h1>법인 회원 가입</h1>
                <h2><span style="color: #FFCA63;">사업자 등록 번호</span>를 기입해 주십시오.</h2>
                <form method="post" th:action="@{/user/joincorporation}" id="login-form">
                    <input type="text" name="userName" placeholder="">
                    
                    
                    <input type="submit" value="확인" >
                </form>
            </div>
</body>
</html>