<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<body>
    <body style="background-color:yellow">
    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h2>로그인</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="text" name="userName" placeholder="아이디">
                    <input type="password" name="userPassword" placeholder="비밀번호">
                    <label for="remember-check">
                        <div> <a href="#">아이디 & 비밀번호 찾기</a> </div>
                    </label>
                    <input type="submit" value="로그인">
                </form>
            </div>
            <div class="join-box">

            </div>
          
        </div>
      </section>
</body>

</body>
</html>