<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<body>
    <body>
    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h2>로그인</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="text" name="userName" placeholder="아이디">
                    <input type="password" name="userPassword" placeholder="비밀번호">
                    <label for="remember-check">
                        <div> <a href="#">아이디 & 비밀번호 찾기</a> </div>
                    </label>
                    <input type="submit" value="로그인">
                </form>
            </div>

            <div class="sign">
                <div class="title">
                    <h2>신규 회원가입</h2>
                    <p>공간은 처음이신가요?</p>
                </div>

                <div class="btn-box">
                    <div class="con">
                        <div id="user-sign" class="box"></div>
                        <h2>공연장을 대여 하고 싶은 분</h2>
                    </div>

                    <div class="con">
                        <div id="con-sign" class="box"></div>
                        <h2>공연장을 등록 하고 싶은 분</h2>
                    </div>

                </div>
            </div>
        </div>
      </section>

      <div>
        <h1>dsfgasfgf</h1>
      </div>


</body>

</body>
</html>