<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/my_review.css">
</head>
<body>
  <!-- hearder -->
  <header>
    <div class="nav">
      <div class="left-content">
        <div class="logo">
          <a th:href="@{|/|}">
            <img src="../../static/img/logo_text.png" alt="logo" />
          </a>
        </div>
        <a class="list-btn" th:href="@{|/list|}">
          대여 공간
        </a>
      </div>

      <div class="right-content">
        <div class="search-box">
          <form action="" name="search" class="search-from">
            <input type="text" name="content" id="content" placeholder="이곳에 공연장을 검색해보세요." />
            <i id="submit-btn" class="fa fa-search fa-3x" aria-hidden="true"></i>
          </form>
        </div>

        <!-- <a class="mypage-btn" href="">
            <i class="fa-solid fa-user fa-4x"></i>
            <p>My</p>
            </a> -->
        <a class="mypage-btn" href="login.html">
          <i class="fa-regular fa-user fa-4x"></i>
          <p>로그인</p>
        </a>
      </div>
    </div>
    <script>
      const searchBtn = document.querySelector(".search-box");
      searchBtn.addEventListener("click", function () {
        document.querySelector("#content").focus();
      });

      const submitButton = document.querySelector("#submit-btn");
      submitButton.addEventListener("click", function () {
        const form = document.forms.search;
        form.submit();
      });
    </script>
  </header>
  <!-- hearder End -->
  <section class="con">
    <!-- 좌측 메뉴 -->
    <div class="left">
      <div class="left-main">
        <h2 class="mypage">마이페이지</h2>
        <div class="img">
          <img src="../../static/img/hongsnow1.jpg" class="profile" alt="">
        </div>
        <h2 class="username">000</h2>
      </div>
      <div class="left-menu">
        <ul>
          <a href="mypage.html" target="_self">
            <li>내 정보</li>
          </a>
          <a href="performer_info.html" target="_self">
            <li>공연자 정보</li>
          </a>
          <a href="my_favorites.html" target="_self">
            <li>내 즐겨찾기</li>
          </a>
          <a href="reservation_list.html" target="_self">
            <li>예약 내역</li>
          </a>
          <a href="use_list.html" target="_self">
            <li>이용 내역</li>
          </a>
          <a href="#" target="_self">
            <li class="open">내 리뷰</li>
          </a>
        </ul>
      </div>
    </div>
    <!-- 내용 -->
    <div class="content">
      <h2 class="content-main">내 리뷰</h2>
      <!-- 여기에 th:each -->
      
    </div>
  </section>
  <footer class="footer">

  </footer>
  <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
</body>
</html>