<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/mypage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="nav">
          <div class="left-content">
            <div class="logo">
              <a href="index.html">
                <img src="image/logo_text.png" alt="logo" />
              </a>
            </div>
            <a class="list-btn" href="">
              대여 공간
            </a>
          </div>
  
          <div class="right-content">
            <div class="search-box">
              <form action="" name="search" class="search-from">
                <input type="text" name="content" id="content" />
                <i id="submit-btn" class="fa fa-search fa-3x" aria-hidden="true"></i>
              </form>
            </div>
  
            <div class="mypage-btn"></div>
          </div>
        </div>
      </header>
      <script>
        const searchBtn = document.querySelector(".search-box");
        searchBtn.addEventListener("click", function () {
          document.querySelector("#content").focus();
        });
  
        const submitButton = document.querySelector("#submit-btn");
        submitButton.addEventListener("click", function () {
          const form = document.forms.search;
          form.submit();
        });
      </script>
      <section class="con">
        <!-- 좌측 메뉴 -->
        <div class="left">
            <div class="left-main">
                <h2>마이페이지</h2>
                <i class="fas fa-user fa-4x"></i>
            </div>
            <div class="left-menu">
                <ul>
                    <a href="#"><li class="open">내 정보</li></a>
                    <a href="#" target="_self"><li>내 즐겨찾기</li></a>
                    <a href="#" target="_self"><li>예약 확인</li></a>
                    <a href="#" target="_self"><li>리뷰 작성</li></a>
                </ul>
            </div>
        </div>
        <!-- 내용 -->
        <div class="content">
            <h2 class="content-main">내 정보</h2>
              
    </section>
      <!-- hearder End -->
</body>
</html>