<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>
    <section class="con">
        <!-- 좌측 메뉴 -->
        <div class="left">
            <h2 class="left-main">관리자 페이지</h2>
            <div class="left-menu">
                <ul>
                    <li><a href="admin.html" target="_self">회원 관리</a></li>
                    <li><a href="hall_info.html" target="_self">공연장 정보</a></li>
                    <li><a href="#" class="open">공지사항</a></li>
                    <li><a href="#">리뷰 관리</a></li>
                    <li><a href="#">통계</a></li>
                </ul>
            </div>
        </div>
        <!-- 내용 -->
        <div class="content">
            <h2 class="content-main">공지사항</h2>
            <div class="main">
                <table class="table">
                    <tr class="thead">
                        <th>번호</th>
                        <th>분류</th>
                        <th>제목</th>
                        <th>작성날짜</th>
                    </tr>
                    <tr class="dropdown-toggle">
                        <td>1</td>
                        <td>[예시공지]</td>
                        <td>예를 들어 어쩌구 저쩌구</td>
                        <td>2024-03-15</td>
                    </tr>
                </table>
                <button onclick="">공지사항 등록</button>
            </div>
        </div>
    </section>
</body>
</html>