@import "reset.css";

body {
    margin-left: 180px;
    height: 100vh;
    margin-right: 180px 

}


.font {
    margin-bottom: 10px;
    font-size: 1.3rem;
}
#in_title {
margin-bottom: 10px;
}

#in_content {

}

.bt_se {
    margin-top: 10px;
}