@import "reset.css";

/* ==================================================즐겨찾기 및 공유 및 별점================================================== */

.hall-detail .favorite .fa-regular {
    top: 20px;
    right: 20px;
    margin-left: 15px;
    margin-right: 7px;
    color: var(--black);
    cursor: pointer;
}

.hall-detail .favorite .fa-sharp {
    margin-right: 18px;
}

.hall-detail .favorite .mini {
    color: gold;
}

hr {
    margin-top: 15px;
    border: 1px solid rgb(220, 220, 220);
}