@import "reset.css";


* {
  padding: 0;
  margin: 0;
  border: none;
}

a {
    color: inherit; /* 글자 색생은 부모로부터 상속 */
    text-decoration: none;
}
html,
body {
  height: 100%;
}
body{
	background-image: url("https://cdn.pixabay.com/photo/2017/08/02/23/42/dark-2574089_1280.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* container */
.container {
  /* 100vh : 화면 전체 넓이로 설정 */
  min-height: 100vh;
  /* flex 화면 레이아웃 구성할 때 사용 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align 상하 정렬 */
  /* justify-content: center; */
  /* justify 좌우 정렬*/
  z-index: 200;
}

.container .login-box {
  background-color: var(--white);
  margin-left: 10%;
  border-radius: 30px;

  /* margin : 바깥쪽 여백 */
  /* padding : 안쪽 여백 */

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  padding: 6rem; 
 
}


.container .login-box .login-wrapper {
  box-sizing: border-box;
}

.container .login-box .login-wrapper>h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-bottom:1rem;
}

.container .login-box .login-wrapper .search-login-info{
	text-align: center;
	color: var(--black);
	padding: .5rem;
	font-size: 1.5rem;
  margin:1rem 0;
}


#login-form>input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}

#login-form>input::placeholder {
  color: #D2D2D2;
}

#login-form #login-btn{
  cursor: pointer;
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 2rem;
  background-color: var(--main-color);
  border-radius: 6px;
  
}

#login-form>input[type="checkbox"] {
  display: none;
}

#login-form>label {
  display: flex;
  justify-content: center;
  color: #999999;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#login-form input[type="checkbox"]+label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#login-form input[type="checkbox"]:checked+label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container .join-box {
  height: 200px;
  width: 100%;
  background-color: var(--main-color);
}


.sign .title{
  text-align: center;
  font-size: 2rem;
  border-top: var(--border);
  border-color: gray;
  padding-top: 2rem;
  line-height: 4rem;
}
.sign .title>h1{
  text-align: center;
  font-size: 3rem;
}
.sign .title>h2{
  text-align: center;
  font-size: 1.5rem;
}

.sign .btn-box {
  display: flex;
  justify-content: space-between;
}

.sign .btn-box .con {
  width: 100%;
  margin: 0 10px;
  text-align: center;
  font-size: 1.4rem;
}

.sign .btn-box .con .box {
  cursor: pointer;
  background-color: #FFCA63;
  border-radius: 10px;
  color: white;
  padding: 3rem 0;
}

.sign .btn-box .con .box2 {
  cursor: pointer;
  background-color: #43361d;
  border-radius: 10px;
  color: white;
  padding: 3rem 0;
}

.sign .btn-box .con h2{
	font-weight: 600;
	margin-top: 1rem;
}


.ttt{
	text-align: right; 
	font-size: 3.75rem; 
	color: white;
	z-index: 0;
	
	margin-right: 20rem;
	margin-top: 20rem;
}

.ttt span {
	cursor: pointer;
}

.ttt>h2{
	text-align: right; 
	/* position: ab=]olute;  */
	/* top: 70%;  */
	font-size: 2.2rem; 
	color: white;
}
/* container end */