@import "reset.css";   

* {
  padding: 0;
  margin: 0;
  border: none;
}

html,
body {
  height: 100%;
}

/* container */
.container {
  /* 100vh : 화면 전체 넓이로 설정 */
  min-height: 100vh;
  /* flex 화면 레이아웃 구성할 때 사용 */
  display: flex;
  align-items: center;
  /* align 상하 정렬 */
  /* justify-content: center; */
  /* justify 좌우 정렬*/
  z-index: 1;
}

.container .login-box {
  margin: 0 10rem;
  background-color: var(--white);
  border-radius: 1rem;
  /* margin : 바깥쪽 여백 */
  /* padding : 안쪽 여백 */
  width: 900px;
}

.container .login-box form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .login-box form .login-wrapper {
  padding: 5rem 5rem;
  box-sizing: border-box;
  width: 50%;
}

.container .login-box form .login-wrapper>h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  
}



#login-form input[type=text], #login-form input[type=password] {
 
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #F8F8F8;
}

#login-form input::placeholder {
  color: #D2D2D2;
}

#login-form input[type="submit"] {
  color: #fff;
  font-size: 2rem;
  background-color: var(--main-color);
  margin-top: 20px;
  
}

#login-form label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #999999;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: right;
}

.container .join-box {
  height: 200px;
  width: 100%;
  background-color: var(--main-color);
}


.ttt{
  text-align: right; 
position: absolute; 
top: 60%; 
right: 20%; 
font-size: 3.75rem; 
color: white;
}
.ttt>h2{
text-align: right; 
/* position: ab=]olute;  */
/* top: 70%;  */
right: 20%; 
font-size: 2.2rem; 
color: white;
}
/* container end */




.text1 {
  width: 100%;
  height: 150px;
  margin-bottom: 7rem;
  border-radius: 10px;
  background-color: #e4e4e4;
  
}

.text2 {
  width: 100%;
  height: 150px;
  
  border-radius: 10px;
  background-color: #e4e4e4;
  
}

.btn2 {
    margin-top: 10rem;
    cursor: pointer;
    padding: 1.1rem 11rem;
  
    display: inline-block;
    background-color: var(--main-color);
    border: var(--border);
    border-radius: 1rem;
    float: left;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.btn1 {
  margin-top: 10rem;
  cursor: pointer;
  padding: 1.1rem 11rem;
  display: inline-block;
  background-color: var(--main-color);
  border: var(--border);
  border-radius: 1rem;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
 
}

.btn2 {
    margin-top: 2rem;
    padding: 1.1rem 11rem;
    display: inline-block;
    background-color: var(--main-color);
    border: var(--border);
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
   
  }


.login-chkbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
