@import url('reset.css'); /* url 형식 */

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

/* ===== main-banner ===== */
.main-banner {
  padding: 2rem 0%;
  width: 100%;
  min-width: 1344px;
  height: 100vh;
  position: relative;
}

.main-banner .container {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../img/main-banner.jpg');
}


.main-banner .container .picture-contain {
  position: absolute;
  bottom: 200px;
  width: 250px;
  height: 350px;
  background-color: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner .container .picture-contain.p1 {
  left: 200px;
  z-index: 1;
  transform: rotate(-5deg);
}


.main-banner .container .picture-contain.p2 {
  left: 300px;
  z-index: 2;
  transform: rotate(10deg);
}

.main-banner .container .picture-contain.p3 {
  left: 500px;
  z-index: 3;
  transform: rotate(20deg);
}


.main-banner .container .picture-contain .picture {
  width: 90%;
  height: 90%;
  background-color: #aaa;
}

.main-banner .container .banner-text {
  height: 100%;
  text-align: end;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-right: 200px;
  padding-top: 100px;
  right: 200px;
  line-height: 8rem;
}

.main-banner .container .banner-text h1 {
  font-size: 7rem;
  font-weight: 600;
  color: var(--white);
}

.main-banner .container .banner-text p {
  line-height: 3rem;
  font-size: 2rem;
  color: var(--white);
}



/* ===== main-banner end ===== */


/* ===== local-list ===== */

.local-list {
  margin: 5rem;
  border-bottom: var(--border);
  border-color: #e9e9e9;
  padding-bottom: 8rem;
}

.local-list h1 {
  color: var(--black);
}

.local-list .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-list .content i {
  cursor: pointer;
}

.local-list .box-container {
  min-width: 20rem;
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-list .box-container .box {
  border: none;
  padding: 5rem 7rem;
  margin: 0 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: var(--gray);
  border-radius: .5rem;
}

.local-list .box-container .box h1{
  font-size: 2rem;
}
/* ===== local-list end ===== */


/* ===== 최신순 글 리스트 ===== */
.hall-list {
  margin: 5rem;
  padding-bottom: 8rem;
  margin-bottom: 0;
}

.hall-list .con {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.hall-list .con h1 {
  color: var(--black);
}

.hall-list .con .box-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(24rem, 1fr));
  gap: 2rem;
}

.hall-list .con .box-container .box {
  text-align: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.hall-list .con .box-container .box .imgbox{
  width: 100%;
  height: 200px;
  background-color: #f5f5dc;
  border: none;
  position: relative;
}

.hall-list .con .box-container .box #like-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--white);
  cursor: pointer;
}


.hall-list .con .box-container .box .imgbox img{
  width: 100%;
  height: 100%;
}

/* 공연장 리스트 상자의 글부분 */
.hall-list .con .box-container .content {
  padding: 2rem;
  text-align: left;
  line-height: 2.8rem;
}

.hall-list .con .box-container .content .content-top{
	display: flex;
	justify-content: space-between;
}
.hall-list .con .box-container .content .content-top div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hall-list .con .box-container .content .content-top div #like_icon{
	margin-left: .5rem;
}


.hall-list .con .box-container .content .content-top .fa-star{
	color: rgb(248, 186, 71);
}

.hall-list .con .box-container .content .address-text {
  font-size: 1.5rem;
  color: var(--gray);
}

.hall-list .con .box-container .content .title-text {
  font-size: 1.7rem;
  font-weight: 600;
}

.hall-list .con .box-container .content .price-text {
  font-size: 1.7rem;
  font-weight: 600;
}

.hall-list .con .box-container .content .time-text {
  font-size: 1.5rem;
  color: var(--gray);
  display: flex;
}

.hall-list .con .box-container .content .time-text span {
	margin: 0, 1rem;
}

.hall-list .con .btn {
  margin-top: 4rem;
}
/* =====  최신순 글 리스트 End ===== */


/* ===== 리뷰 ====== */
.review{
  background-color: var(--sub-color);
  display: flex;
  justify-content: center;
  padding: 5rem 20rem;
  margin: 0rem;
}

.review .image {
  background-color: var(--white);
  min-width: 600px;
  height: 400px;
}

.review .image img {
  width: 100%;
  height: 100%;
}

.review .content{
  text-align: right;
  height: 400px;
  margin-left: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.review .content h1{
  font-size: 4rem;
  line-height: 5rem;
}
/* ===== 리뷰 End ====== */

/* ===== 공연장 공연자 바로가기 Start ===== */
.user-move {
  background-color: var(--brown);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-move .con {
  width: 50%;
  text-align: center;
  padding: 2rem 0;
}

.user-move .con h1{
  font-size: 4rem;
}

.user-move .con p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.user-move .con p span{
  color: var(--main-color);
  font-weight: 600;
}


.user-move .con .btn {
  margin-top: 7rem;
  font-size: 2rem;
}

.user-move .con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== 공연장 공연자 바로가기 End ===== */



