@import "../../reset.css";

/* ==================================================리뷰 목록================================================== */

.fa-star{
	color: gold;
}

.gray{
	color: gray;	
}

.hall-detail .content .content-dis .review {
	width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.review .title {
	margin: 4rem 0;
}


.review .title span {
    font-size: 25px;
}

.review .review-box{
	margin: 3rem 5rem;
	box-shadow: var(--box-shadow);
}

.review .review-box h2{
	font-size: 2rem;
	padding: 2rem;
	font-weight: 600;
}



.review .review-box .review-top{
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	
}

.review .review-box .review-top span {
    font-size: 18px;
}

.review .review-box .review-top .left .nickname {
    font-weight: 600;
}





.review .review-content {
	padding: 2rem;
	line-height: 3rem;
    background-color: rgb(235, 235, 235);
    border-top: 2px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
    white-space: pre-line;
}



/* 페이징 처리 버튼 */
.review .pagination {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.hall-detail .content .review .pagination a {
    padding: 0.5% 1%;
    margin: 0.5%;
    border-radius: 20%;
    background-color: rgb(235, 235, 235);
    color: black;
}

.hall-detail .content .review .pagination a:hover {
    background-color: rgb(150, 150, 150);
}

.hall-detail .content .review .pagination a:active {
    background-color: rgb(150, 150, 150);
}