@import "reset.css";

/* ==================================================중요 안내 사항================================================== */

.hall-detail .container {
    width: 85%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
}

.hall-detail .container h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 3%;
}

.hall-detail .container p {
    font-size: 18px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    line-height: normal;
}

.text-red {
    color: red;
}