@import "reset.css";

/* ==================================================견적 내기 목록================================================== */

.hall-detail .content .quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hall-detail .content .quote h2 {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}

.hall-detail .content .quote .rental-date {
    width: 90%;
    height: 270px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    color: rgb(100, 100, 100);
}

.hall-detail .content .quote .rental-date .start {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 70px;
    font-size: 25px;
}

.hall-detail .content .quote .rental-date .start .start-date {
    margin-left: 6rem;
    margin-right: 18rem;
}

.hall-detail .content .quote .rental-date .start .start-time {
    margin-left: 18rem;
    margin-right: 15rem;
}

.hall-detail .content .quote .rental-date .end {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 70px;
    font-size: 25px;
}

.hall-detail .content .quote .rental-date .end .end-date {
    margin-left: 6rem;
    margin-right: 18rem;
}

.hall-detail .content .quote .rental-date .end .end-time {
    margin-left: 18rem;
    margin-right: 15rem;
}

.hall-detail .content .quote .rental-date p {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

input[type="date"] {
    border: none;
    position: relative;
    padding: 10px;
    box-shadow: none;
    border-radius: 8px;
    font-size: 20px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    text-decoration: underline;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.hall-detail .content .quote .rental-date #am-pm {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg) no-repeat 88% 50%/15px auto;
    align-content: start;
    padding: 5px 40px 5px 35px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid;
    height: 50%;
    text-align: center;
}

.hall-detail .content .quote .rental-date #am-pm::-ms-expand {
    display:none;
}


/* ====================시작일 & 종료일 끝==================== */


.hall-detail .content .equipment {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hall-detail .content .equipment h2 {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}

.hall-detail .content .equipment span {
    font-size: 16px;
}

.hall-detail .content .equipment .equipment-list {
    width: 90%;
    height: 830px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    color: rgb(100, 100, 100);
    padding: 1% 0px 0px 0px;
}

.hall-detail .content .equipment .equipment-list span {
    font-size: 27px;
    margin-left: 4%;
    color: rgb(60, 60, 60);
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

.hall-detail .content .equipment .equipment-list .price {
    color: rgb(100, 100, 100);
    font-weight: lighter;
}


/* ====================장비 공통 끝==================== */


.hall-detail .content .equipment .equipment-list .mic-line {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .mic-line #line {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .mic-line .count {
    margin-left: 20%;
    margin-right: 3%;
}

.hall-detail .content .equipment .equipment-list .mic-noline {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .mic-noline #noline {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .mic-noline .count {
    margin-left: 20%;
    margin-right: 3%;
}

.hall-detail .content .equipment .equipment-list #mic-count {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg) no-repeat 88% 50%/15px auto;
    align-content: start;
    padding: 5px 40px 5px 35px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid;
    height: 50%;
    text-align: center;
}

.hall-detail .content .equipment .equipment-list .mic-noline #mic-count::-ms-expand {
    display: none;
}


/* ====================마이크 끝==================== */


.hall-detail .content .equipment .equipment-list .main-speaker {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .main-speaker #main {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .sub-speaker {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .sub-speaker #sub {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .woofer-speaker {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .woofer-speaker #woofer {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .stage-speaker {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list .stage-speaker #stage {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .stage-speaker .use {
    margin-left: 11%;
    margin-right: 3%;
}

.hall-detail .content .equipment .equipment-list .use {
    margin-left: 14.5%;
    margin-right: 3%;
}

.hall-detail .content .equipment .equipment-list #speaker-use {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg) no-repeat 88% 50%/15px auto;
    align-content: start;
    padding: 5px 35px 5px 25px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid;
    height: 50%;
    text-align: center;
}

.hall-detail .content .equipment .equipment-list .mic-noline #mic-count::-ms-expand {
    display: none;
}


/* ====================스피커 끝==================== */


.hall-detail .content .equipment .equipment-list .non-moving {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list #light-use {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg) no-repeat 88% 50%/15px auto;
    align-content: start;
    padding: 5px 35px 5px 25px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid;
    height: 50%;
    text-align: center;
}

.hall-detail .content .equipment .equipment-list .mic-noline #mic-count::-ms-expand {
    display: none;
}

.hall-detail .content .equipment .equipment-list .non-moving #non {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .non-moving .use {
    margin-left: 18.5%;
    margin-right: 3%;
}

.hall-detail .content .equipment .equipment-list .moving {
    width: 90%;
    height: 70px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 65px;
    font-size: 20px;
}

.hall-detail .content .equipment .equipment-list #moving-count {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg) no-repeat 88% 50%/15px auto;
    align-content: start;
    padding: 5px 40px 5px 35px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid;
    height: 50%;
    text-align: center;
}

.hall-detail .content .equipment .equipment-list .mic-noline #mic-count::-ms-expand {
    display: none;
}

.hall-detail .content .equipment .equipment-list .moving #on {
    margin-left: 5%;
}

.hall-detail .content .equipment .equipment-list .moving .count {
    margin-left: 20%;
    margin-right: 3%;
}


/* ====================조명기 끝==================== */


.hall-detail .content .etc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hall-detail .content .etc h2 {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}

.hall-detail .content .etc .etc-list {
    width: 90%;
    height: 510px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    color: rgb(100, 100, 100);
    padding: 1% 0px 0px 0px;
}

.hall-detail .content .etc .etc-list h3 {
    font-size: 27px;
    margin-left: 4%;
    color: rgb(60, 60, 60);
}

.hall-detail .content .etc .etc-list span {
    font-size: 16px;
}


/* ====================etc 공통 끝==================== */


.hall-detail .content .etc .etc-list .eat {
    width: 90%;
    height: 210px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
    border-radius: 10px;
    font-size: 20px;
}

.hall-detail .content .etc .etc-list .eat .eat-list {
    margin-top: 2%;
    margin-left: 5%;
}


/* ====================취식 여부 끝==================== */


.hall-detail .content .etc .etc-list .heat-cool {
    width: 90%;
    height: 160px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 20px;
}

.hall-detail .content .etc .etc-list .heat-cool .use {
    margin-top: 2%;
    margin-left: 5%;
}


/* ====================냉난방 끝==================== */