@import "../../reset.css";

/* ==================================================문의 사항 목록================================================== */

.hall-detail .content .qna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.hall-detail .content .qna .questionsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hall-detail .content .qna .questionsContainer .question-box {
	margin: 1rem 0;
}

.hall-detail .content .qna .questionsContainer .question-box .question-top{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 240, 232);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0; 
}

.hall-detail .content .qna .questionsContainer .question-box .review-content{
    padding: 2rem;
    background-color: rgb(250, 245, 241);    
}

.hall-detail .content .qna .questionsContainer .question-box .review-content .btns{
	display: flex;

}


.hall-detail .content .qna .questionsContainer .question-box .review-content .answer-btn{
	cursor: pointer;
	margin: 2rem .5rem;
    padding: .2rem 1rem;
    width: 3rem;
    border-radius: .5rem;
    background-color: rgb(224, 196, 165);
    margin-bottom: 0;
}



.hall-detail .content .qna .questionsContainer .answer-box {
	margin: 1rem 0;
	margin-top: -1rem;
	margin-left: 2rem;
}

.hall-detail .content .qna .questionsContainer .answer-box .question-top{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 240, 232);
    padding: 1rem;
    border-radius: 0rem 0rem 0 0; 
}

.hall-detail .content .qna .questionsContainer .answer-box .review-content{
    padding: 2rem;
    background-color: rgb(250, 245, 241);    
    border-radius: 0 0 1rem 1rem; 
}

.hall-detail .content .qna .questionsContainer .answer-box .review-content .btns{
	display: flex;

}


.hall-detail .content .qna .questionsContainer .answer-box .review-content .answer-btn{
	cursor: pointer;
	margin: 2rem .5rem;
    padding: .2rem 1rem;
    width: 3rem;
    border-radius: .5rem;
    background-color: rgb(224, 196, 165);
    margin-bottom: 0;
}



.hall-detail .content .qna .title span {
    font-size: 25px;
    color: gold;
}

.hall-detail .content .qna .edit #questionForm {
   display: flex;
    justify-content: center;
 	
}

textarea {
	border-radius: 1rem;
    width: 85%;
    height: 8rem;
    resize: none;
    padding: 1rem;
    
}

.hidden{
	display: none;
}

.hall-detail .content .qna .edit #questionForm #submitBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--select-btn);
	width: 15%;
	padding: 2rem;
	margin-left: 1rem;
	border-radius: 1rem;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}



.hall-detail .content .qna .question-content {
    white-space: pre-line;
}


/*
.hall-detail .content .qna .question-nickname #name {
    margin-left: 5%;
}

.hall-detail .content .qna .question-nickname #date {
    margin-left: 60%;
}
.hall-detail .content .qna .answer-nickname {
    background-color: rgb(235, 235, 235);
    border-top: 2px solid rgb(200, 200, 200);
    padding: 1% 2.5% 1% 2.5%;
    margin: 1% 12.5% 0% 2.5%;
}

.hall-detail .content .qna .answer-nickname #date {
    margin-left: 58.5%;
}

.hall-detail .content .qna .answer-content {
    background-color: rgb(235, 235, 235);
    border-top: 2px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
    padding: 1% 2.5% 1% 2.5%;
    margin: 0% 12.5% 0% 2.5%;
    white-space: pre-line;
}

.hall-detail .content .qna .pagination {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.hall-detail .content .qna .pagination a {
    padding: 0.5% 1%;
    margin: 0.5%;
    border-radius: 20%;
    background-color: rgb(235, 235, 235);
    color: black;
}

.hall-detail .content .qna .pagination a:hover {
    background-color: rgb(150, 150, 150);
}

.hall-detail .content .qna .pagination a:active {
    background-color: rgb(150, 150, 150);*/
}