<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
<body>
    <section class="container">
        <div class="login-box">
            <div class="login-wrapper">
				
	            <h2><a th:href="@{/yjh-console}">관리자 로그인</a></h2>
				
				<div style="color:red" th:text="${errorMessage}">
				</div>
								
	            <form method="post" name="login_form" th:action="@{/yjh-console/result}" id="login-form">
	                <input type="text" id="email" name="email" placeholder="아이디">
	                <input type="password" id="password" name="password" placeholder="비밀번호">
	                <button id="login-btn" type="button" onclick="checkValue();" value="로그인">로그인</button>
	            </form>
            </div>

            <div class="sign">
                <div class="title">
                    <h1>관리자 회원가입</h1>
                </div>

                <div class="btn-box">
                    <div class="con">
                        <div th:onclick="|location.href='@{/yjh-console/join}'|" id="user-sign" class="box">관리자 회원가입</div>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="ttt">
		    <h1>공연의 <span	th:onclick="|location.href='@{/}'|" class="point">공간</span></h1> <br>
		    <h2>빠른 예약과</h2> 
		    <h2>확실한 정보로</h2> 
		    <h2>꿈이 이루어지는 공간 입니다.</h2>
		</div>
		
      </section>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
	
	function checkValue(){
		let value = $('#email').val().trim();
		
		if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
			$("#email").focus();
			return;
		}
		
		value = $('#password').val().trim();
		if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){
			$("#zip_code").focus();
			return;
		}

		document.login_form.submit();
	}
  </script>

</body>

</body>
</html>