<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="/img/favicon.png"/>
   <link rel="apple-touch-icon" href="/img/favicon.png"/>
   <title>공간 | 공연 공간 중개 플렛폼</title>
 <link rel="stylesheet" href="/css/login/loginpassword.css">
</head>
<body>
<body>
    <div class="ttt">
        <h1>공연의 <span style="color: #FFCA63;">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h1>새 비밀 번호 변경</h1>
                <h2>새로운 비밀 번호로 변경해 주십시오.</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="text" name="userName" placeholder="비밀 번호">
                    <input type="password" name="userPassword" placeholder="비밀 번호 확인">
                    <label for="remember-check">
                        
                    </label>
                    <input type="submit" value="확인">
                </form>
            </div>

        
        </div>
      </section>



</body>

</body>
</html>