<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="icon" href="/img/favicon.png"/>
	 <link rel="apple-touch-icon" href="/img/favicon.png"/>
	 <title>공간 | 공연 공간 중개 플렛폼</title>

    <link rel="stylesheet" href="/css/login/loginwelcome.css">
</head>
<body>
    <div class="ttt">
        <h1>공연의 <span class="point">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">
	        <div class="login-wrapper">
	            <h1>환영 합니다!</h1>
	            <h2>공연장 대여 중계 사이트 <span class="point">공간</span> 입니다</h2>
				<div class="btn" th:onclick="|location.href='@{/login}'|" >로그인</div>
	        </div>
	
	        <div class="btn-box">
	            <div class="con">
	                <div class="box">
	                <h2>공연장,팀 단체 이신가요?</h2>
	                <p>추가 정보를 입력하고 다양한 서비스를 이용하실 수 있습니다.</p> 
	                 <p>‘마이페이지’ -> ‘내 공연팀 정보’ 에서 확인, 등록하실 수 있습니다.</p>
	           </div>
	        	</div>                    
			</div>
		</div>
	</section>
</body>
</html>

