<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login_corporation.css">
</head>
<body>
    <div class="ttt">
        <h1>공연의 <span class="point">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">
            <div class="login-wrapper">
                <h1>법인 회원 가입</h1>
                <h2><span class="point">사업자 등록 번호</span>를 기입해 주십시오.</h2>
                <form method="post" th:action="@{/cor/corporation_code/insert}" id="login-form">
                    <input type="text" name="company_number" id="company_number" maxlength="10" placeholder="">
                    <input type="submit" value="확인" >
                </form>
        	</div>
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script>
		$(document).on("propertychange change keyup paste input", "#company_number", function() {
		     $(this).val( $(this).val()
			 	.replace(/[^0-9]/g, "")
				.replace(/([0-9]{3})+([0-9]{2})+([0-9]{5})$/,"$1-$2-$3")
				.replace("--", "-"));
		});
	</script>
</body>
</html>