<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css">
  <style>
    body{
        background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<body>
    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2017/08/02/23/42/dark-2574089_1280.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;}
    </style>
    
    <div class="ttt">
        <h1>공연의 <span style="color: #FFCA63;">공간</span></h1> <br>
        <h2>빠른 예약과</h2> 
        <h2>확실한 정보로</h2> 
        <h2>꿈이 이루어지는 공간 입니다.</h2>
    </div>

    <section class="container">
        <div class="login-box">

            <div class="login-wrapper">
                <h2>로그인</h2>
                <form method="post" action="서버의url" id="login-form">
                    <input type="text" name="userName" placeholder="아이디">
                    <input type="password" name="userPassword" placeholder="비밀번호">
                
                    <input type="submit" value="로그인">
                    <label for="remember-check">
                        <div> <a href="#">아이디 & 비밀번호 찾기</a> </div>
                    </label>
                </form>
            </div>

            <div class="sign">
                <div class="title">
                    <h1>신규 회원가입</h1>
                    <h2>공간은 처음이신가요?</h2>
                </div>

                <div class="btn-box">
                    <div class="con">
                        <div th:onclick="|location.href='@{/user/singin}'|" id="user-sign" class="box">일반 회원가입</div>
                        <h2>공연장을 <span style="color: #FFCA63;">대여</span> 하고 싶은 분</h2>
                    </div>

                    <div class="con">
                        <div th:onclick="|location.href='@{/user/corporation}'|" id="con-sign" class="box2">법인 회원가입</div>
                        <h2>공연장을 <span style="color: #FFCA63;">등록</span>하고 싶은 분</h2>
                    </div>

                </div>
            </div>
        </div>
      </section>



</body>

</body>
</html>