<!DOCTYPE html>  
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login/login_id_passw.css">
</head>
<body>
<body>

    <section class="container">
        <div class="login-box">
            
            <form method="post" action="서버의url" id="login-form">
                <div class="login-wrapper">
                <h2>일반 회원 가입</h2>
                    <label for="">
                        <input type="text" name="userName" placeholder="이름">
                        <p>가입할 때 사용했던 실명을 입력해 주십시오.</p>
                    </label>
                    <label>
                        <input type="password" name="userPassword" placeholder="">
                        <p>가입시 사용한 핸드폰 번호를</p>
                        <p>하이픈(-)를 제외하고 입력해 주세요.</p>
                        <div class="btn1">확인</div>
                </div>
                
                <div class="login-wrapper">
                    <h2>비밀 번호 찾기</h2>
                        <label for="">
                            <input type="text" name="userName" placeholder="이름">
                            <p>가입할 때 사용했던 실명을 입력해 주십시오.</p>
                        </label>
                        <label>
                            <input type="password" name="userPassword" placeholder="이메일 ex)abc12@gmail.com ">
                            <p>가입할 때 사용했던 이메일을 입력해 주십시오.</p>
                            <div class="btn2">코드 전송</div>
                        </label>
                    </div>
            </form>


        </div>
      </section>
	  <div class="ttt">
	      <h1>공연의 <span	th:onclick="|location.href='@{/}'|" class="point">공간</span></h1> <br>
	      <h2>빠른 예약과</h2> 
	      <h2>확실한 정보로</h2> 
	      <h2>꿈이 이루어지는 공간 입니다.</h2>
	  </div>


</body>

</body>
</html>