<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/user/my_review.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div class="left">
				<div class="left-main">
					<h2 class="mypage">마이페이지</h2>
					<div class="img">
						<img src="/img/hongsnow1.jpg" class="profile" alt="">
					</div>
					<h2 class="username" th:text="${my_info.nickname}"></h2>
				</div>
				<div class="left-menu">
					<ul>
						<a th:href="@{/mypage}" target="_self">
							<li>내 정보</li>
						</a>
						<a th:href="@{/mypage/performer}" target="_self">
							<li>공연자 정보</li>
						</a>
						<a th:href="@{/mypage/favorite}" target="_self">
							<li>내 즐겨찾기</li>
						</a>
						<a th:href="@{/mypage/reserve}" target="_self">
							<li>예약 내역</li>
						</a>
						<a href="#" target="_self">
							<li class="open">내 리뷰</li>
						</a>
					</ul>
				</div>
			</div>
			<!-- 내용 -->
			<div class="content">
				<h2 class="content-main">내 리뷰</h2>
				<!-- 여기에 th:each -->
				<div class="tabs">
					<input id="review" type="radio" name="tab_item" checked>
					<label class="tab_item" for="review">리뷰 작성</label>
					<input id="written" type="radio" name="tab_item">
					<label class="tab_item" for="written">작성한 리뷰</label>
					<div class="tab_content" id="review_content">
						<!-- 리뷰 작성 Tab -->
						<div class="main-content">
							<div class="review" th:each="list : ${notReview_list}">
								<div class="hall-img">
									<img src="/img/hallex.jpg">
								</div>
								<div class="info">
									<div class="hall-name" th:text="${list.hall_name}"></div>
									<div class="date"
										th:text="${list.start_date + ' ' + list.start_time + ' ~ ' + list.end_date + '  ' + list.end_time}">
									</div>
								</div>
								<div class="button">
									<!-- 리뷰 작성 페이지로.. -->
									<input type="hidden" th:value="${list.hall_id}" id="hallId" class="hallId">
									<button class="first-btn" onclick="openModal()">리뷰 작성</button>
									<input type="hidden" th:value="${list.reserve_id}" id="reserveId" class="reserveId">
									<!-- 공연장 상세 페이지로.. -->
									<button onclick="location.href=''">상세보기</button>
								</div>
							</div>
						</div>
					</div>
					<div class="tab_content" id="written_content">
						<!-- 작성한 리뷰 Tab -->
						<div class="written-list">
							<div class="written-rev" th:each="review : ${review_list}">
								<div class="hall">
									<div class="hall-thumb">
										<img src="/img/hallex.jpg">
									</div>
									<!-- 상세페이지 링크 -->
									<a href=""><span class="name" th:text="${review.hall_name}"></span></a>
									<a href=""><span class="modify-btn">수정</span></a>
								</div>
								<div class="sub">
									<div class="rating">
										<i class="fa-solid fa-star fa-3x"></i>
										<span class="star" th:text="${review.rating}"></span>
									</div>
									<span class="date" th:text="${review.create_date}"></span>
								</div>


								<div class="review-box" th:text="${review.review_content}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close" onclick="closeModal()">&times;</span>
				<!-- 모달 내용 -->
				<div class="top">
					<h2>리뷰 작성</h2>
				</div>
				<div class="middle">
					<div class="middle1">
						<div class="star-rating">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>
					<input type="hidden" id="ratingInput">
					<div class="middle2">
						<textarea id="reviewContentInput" name="reviewContent" class="modal-review-content" rows="10" placeholder="리뷰 내용을 입력하세요"></textarea>
					</div>
				</div>
				<div class="bottom">
					<div class="btn" id="saveReview">저장</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script>
			// 모달 열기
			function openModal() {
				var modal = document.getElementById('myModal');
				modal.style.display = 'block';
			}
			// 모달 닫기
			function closeModal() {
				var modal = document.getElementById('myModal');
				modal.style.display = 'none';
			}
			
			// 별점
			$('.star-rating i').click(function(){
			    $(this).addClass('selected');
			    $(this).prevAll().addClass('selected');
			    $(this).nextAll().removeClass('selected');
			    var rating = $(this).parent().find('.selected').length;
			    $('#ratingInput').val(rating); // 별점 값을 hidden input에 설정
			});

			// 리뷰 저장하기
			$('#saveReview').click(function() {
				var rating = parseInt($('#ratingInput').val(), 10);
			    var reviewContent = $('#reviewContentInput').val();
				var hall_id = parseInt($('.first-btn').siblings('.hallId').val(), 10);
				var reserve_id = parseInt($('.first-btn').siblings('.reserveId').val(), 10);
			    
			    var data = {
			        rating: rating,
			        review_content: reviewContent,
					hall_id: hall_id,
					reserve_id: reserve_id
			    };
			
			    $.ajax({
			        type: 'POST',
			        url: '/mypage/saveReview',
			        data: JSON.stringify(data),
			        contentType: 'application/json',
			        success: function(response) {
			            if (response) {
							updateReviewStatus(reserve_id);
							closeModal();
			                alert('리뷰가 저장되었습니다.');
							
			            } else {
			                alert('리뷰 저장에 실패했습니다.');
			            }
			        },
			        error: function(data, status, error) {
			            alert('에러 발생');
			        }
			    });
			});
			
			// 리뷰작성 상태 변경
			function updateReviewStatus(reserve_id) {
				var reserve_id = parseInt($('.first-btn').siblings('.reserveId').val(), 10);
				
				$.ajax({
					type:'POST',
					url: '/mypage/updateReviewStatus',
					data: {reserve_id : reserve_id},
					success: function(response) {
						if (response) {
							location.reload();
						} else {
							
						}
					},
					error: function(data, status, error) {
					          
					}
				})
			}
		</script>
	</div>
</body>

</html>