<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/mypage/user/mypage.css">
</head>

<body>
	<div layout:fragment="content">
		<form name="form1" method="post">

			<section class="con">
				<!-- 좌측 메뉴 -->
				<div class="left">
					<div class="left-main">
						<h2 class="mypage">마이페이지</h2>
						<div class="img">
							<img src="/img/hongsnow1.jpg" class="profile" alt="">
						</div>
						<h2 class="username" th:text="${my_info.nickname}"></h2>
					</div>
					<div class="left-menu">
						<ul>
							<a href="#" target="_self">
								<li class="open">내 정보</li>
							</a>
							<a th:href="@{|/mypage/performer|}" target="_self">
								<li>공연자 정보</li>
							</a>
							<a th:href="@{/mypage/favorite}" target="_self">
								<li>내 즐겨찾기</li>
							</a>
							<a th:href="@{/mypage/reserve}" target="_self">
								<li>예약 내역</li>
							</a>
							<a th:href="@{/mypage/review}" target="_self">
								<li>내 리뷰</li>
							</a>
						</ul>
					</div>
				</div>
				<!-- 내용 -->
				<div class="content">
					<h2 class="content-main">내 정보</h2>
					<div class="my">
						<div class="img">
							<img src="/img/hongsnow1.jpg" class="profile" alt="">
						</div>
						<div class="nickname">
							<div th:text="${my_info.nickname}"></div>
							<button>사진 수정</button>
						</div>
					</div>

					<div class="list">
						<!-- 버튼마다 수정 기능 넣어야.. -->
						<div>
							<div class="list-name">이름</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con" th:text="${my_info.name}"></div>
						</div>
						<div>
							<div class="list-name">이메일</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con" th:text="${my_info.email}"></div>
						</div>
						<div>
							<div class="list-name">비밀번호</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="pw">
								<div><label for="" class="list-con">새 비밀번호</label><input type="password" name="password"
										id="pw" oninput="pwCheck()" placeholder="새 비밀번호"></div>
								<div><label for="" class="list-con">비밀번호 확인</label><input type="password" id="pwChk"
										oninput="pwCheck()" placeholder="비밀번호 확인"></div>
							</div>
							<span id="check"></span>
							<button id="updatePwBtn" class="button" th:formaction="@{/mypage/update/pw}" disabled
								onclick="updatePw()">수정</button>
						</div>

						<div>

							<div class="list-name">닉네임</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input name="nickname" id="nickname" type="text" th:value="${my_info.nickname}" oninput="nicknameCheck()">
							</div>
							<span id="nicknameCheck"></span>
							<button class="button" id="updateNicknameBtn" th:formaction="@{/mypage/update/nickname}" disabled onclick="updateNickname()">수정</button>

						</div>

						<div class="last">
							<div class="list-name">핸드폰</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input name="phone" id="phone" type="text" th:value="${my_info.phone}" oninput="phoneCheck()"></div>
							<span id="phoneCheck"></span>
							<button class="button" id="updatePhoneBtn" th:formaction="@{/mypage/update/phone}" disabled onclick="updatePhone()">수정</button>
						</div>
					</div>
		</form>
		<form name="form2" method="post" th:action="@{/leave}">
			<div class="button">
				<span>탈퇴를 원하시면 우측의 회원탈퇴 버튼을 눌러주세요</span>
				<button class="leave-btn" onclick="return confirmLeave()">회원 탈퇴</button>
			</div>
		</form>



		</section>



		<script>
			// 비밀번호 수정 알림
			function updatePw() {
				alert("비밀번호가 수정되었습니다.");
			}

			// 비밀번호 변경 유효성 검사
			function pwCheck() {
				let pw = document.getElementById('pw').value;
				let pwChk = document.getElementById('pwChk').value;
				// 영문과 숫자를 포함한 8~16자
				const regExp = /^(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z\d]{8,16}$/;

				if (!pw.match(regExp)) {
					document.getElementById('check').innerHTML = '영문과 숫자를 포함한 8~16자를 입력하세요';
					document.getElementById('check').style.color = 'red';
					document.getElementById('updatePwBtn').disabled = true;
				} else {
					if (pw == pwChk) {
						document.getElementById('check').innerHTML = '비밀번호가 일치합니다';
						document.getElementById('check').style.color = 'green';
						document.getElementById('updatePwBtn').disabled = false;
					} else {
						document.getElementById('check').innerHTML = '비밀번호가 일치하지 않습니다';
						document.getElementById('check').style.color = 'red';
						document.getElementById('updatePwBtn').disabled = true;
					}


				}
			}

			// 닉네임 수정 유효성 검사
			function nicknameCheck() {
				let nickname = document.getElementById('nickname').value;
				// 한글, 영문, 숫자 2~6자
				const regExp = /^[가-힣a-zA-Z\d]{2,6}$/;
				
				if (!nickname.match(regExp)) {
					document.getElementById('nicknameCheck').innerHTML = '한글, 영문, 숫자를 이용해 2~6자를 입력하세요.';
					document.getElementById('nicknameCheck').style.color = 'red';
					document.getElementById('updateNicknameBtn').disabled = true;
				} else {
					document.getElementById('nicknameCheck').innerHTML = '올바른 닉네임입니다.'
					document.getElementById('nicknameCheck').style.color = 'green';
					document.getElementById('updateNicknameBtn').disabled = false;
				}
			}
			// 닉네임 수정 알림
			function updateNickname() {
				alert("닉네임이 수정되었습니다.");
			}
			
			// 핸드폰 수정 알림
			function updatePhone() {
				alert("핸드폰 번호가 수정되었습니다.");
			}
			
			// 핸드폰 유효성 검사
			function phoneCheck() {
				var phone = document.getElementById('phone').value;
				const regExp = /^\d{3}-\d{4}-\d{4}$/;
				
				if (!phone.match(regExp)) {
					document.getElementById('phoneCheck').innerHTML = "010-xxxx-xxxx 형식으로 입력해주세요."
					document.getElementById('phoneCheck').style.color = 'red';
					document.getElementById('updatePhoneBtn').disabled = true;
				} else {
					document.getElementById('phoneCheck').innerHTML = "올바른 핸드폰 번호입니다."
					document.getElementById('phoneCheck').style.color = 'green';
					document.getElementById('updatePhoneBtn').disabled = false;
				}
			}
			
			// 회원 탈퇴 확인
			function confirmLeave() {
				var result = confirm("정말 회원 탈퇴를 하시겠습니까?");
				if (result) {
					alert("회원 탈퇴가 완료되었습니다.");
					return true;
				} else {
					return false;
				}
			}
		</script>
	</div>
</body>

</html>