<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/mypage/user/performer_info.css">
</head>

<body>
	<div layout:fragment="content">
		<section class="con">
			<!-- 좌측 메뉴 -->
			<div th:replace="~{fragments/mypage_user :: mypage_user_fragment}"></div>
			<!-- 내용 -->

			<div class="content">
				<h2 class="content-main">공연자 정보</h2>
				<form th:action="@{/mypage/performer}" method="post">
					<div class="list" th:if="${perfo_info == null}">

						<div>
							<div class="list-name">단체명</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="text" id="group_name" name="group_name"
									oninput="groupNameCheck(); infoCheck()">
							</div>
							<span id="groupNameCheck"></span>
						</div>
						<div>
							<div class="list-name">대표명</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="text" id="leader_name" name="leader_name"
									oninput="leaderNameCheck(); infoCheck()"></div>
							<span id="leaderNameCheck"></span>
						</div>
						<div>
							<div class="list-name">대표전화번호</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" id="leader_phone" name="leader_phone"
									oninput="phoneCheck(); infoCheck()">
							</div>
							<span id="phoneCheck"></span>
						</div>
						<div>
							<div class="list-name">인원수</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="number" id="member_num" name="member_num" maxlength="3"
									oninput="memberNumCheck(); infoCheck()">명</div>
							<span id="memberNumCheck"></span>
						</div>
						<div>
							<div class="list-name">공연횟수</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="number" name="perform_num">
							</div>

						</div>
						<div class="last">
							<div class="list-name">공연한 작품</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" name="perfo_work">
							</div>

						</div>
						<button class="button" id="perfoBtn" type="submit" onclick="return confirmInsert()"
							disabled>등록</button>

					</div>

				</form>
				<form th:action="@{/mypage/performer}" method="post">
					<div class="list" th:if="${perfo_info != null}">

						<div>
							<div class="list-name">단체명</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="text" id="group_name" name="group_name"
									th:value="${perfo_info.group_name}" oninput="groupNameCheck(); infoCheck()">
							</div>
							<span id="groupNameCheck"></span>
						</div>
						<div>
							<div class="list-name">대표명</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="text" id="leader_name" name="leader_name"
									th:value="${perfo_info.leader_name}" oninput="leaderNameCheck(); infoCheck()"></div>
							<span id="leaderNameCheck"></span>
						</div>
						<div>
							<div class="list-name">대표전화번호</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" id="leader_phone" name="leader_phone"
									th:value="${perfo_info.leader_phone}" oninput="phoneCheck(); infoCheck()">
							</div>
							<span id="phoneCheck"></span>
						</div>
						<div>
							<div class="list-name">인원수</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con"><input type="number" id="member_num" name="member_num"
									th:value="${perfo_info.member_num}" maxlength="3" oninput="memberNumCheck(); infoCheck()">명</div>
							<span id="memberNumCheck"></span>
						</div>
						<div>
							<div class="list-name">공연횟수</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="number" name="perform_num" th:value="${perfo_info.perform_num}">
							</div>

						</div>
						<div class="last">
							<div class="list-name">공연한 작품</div>
							<span aria-hidden="true" style="margin-left: 4rem; margin-top: 0.25rem;"></span>
							<div class="list-con">
								<input type="text" name="perfo_work" th:value="${perfo_info.perfo_work}">
							</div>

						</div>

						<button class="button" id="perfoBtn" type="submit" onclick="return confirmUpdate()">수정</button>
					</div>

				</form>
			</div>
		</section>


		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="/js/performer_check.js"></script>
		<script src="/js/open_menu.js"></script>
	</div>
</body>

</html>