<!DOCTYPE html>
<html layout:decorate="~{/layout/default_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage/user/reservation_list.css">
</head>
<body>
	<div layout:fragment="content">
		<section class="con">
		     <!-- 좌측 메뉴 -->
		     <div class="left">
		        <div class="left-main">
		          <h2 class="mypage">마이페이지</h2>
		          <div class="img">
		            <img src="/static/img/hongsnow1.jpg" class="profile" alt="">
		          </div>
		          <h2 class="username">000</h2>
		        </div>
		        <div class="left-menu">
		          <ul>
		            <a th:href="@{/mypage}" target="_self">
		              <li>내 정보</li>
		            </a>
		            <a th:href="@{/mypage/performer}" target="_self">
		              <li>공연자 정보</li>
		            </a>
		            <a th:href="@{/mypage/favorite}" target="_self">
		              <li>내 즐겨찾기</li>
		            </a>
		            <a href="#" target="_self">
		              <li class="open">예약 내역</li>
		            </a>
		            <a th:href="@{/mypage/uselist}" target="_self">
		              <li>이용 내역</li>
		            </a>
		            <a th:href="@{/mypage/review}" target="_self">
		              <li>내 리뷰</li>
		            </a>
		          </ul>
		        </div>
		      </div>
		    <!-- 내용 -->
		    <div class="content">
		      <h2 class="content-main">예약 내역</h2>
		      <!-- 여기에 th:each -->
		      <div class="list">
		        <!-- 여기에 th:text -->
		        <div class="item">
		          <div class="hall-img">
		            <img src="../../static/img/hallex.jpg" class="hall-thumb" alt="">
		          </div>
		          <div class="hall">
		            <div class="hall-name">안녕하세요홀</div>
		            <div class="hall-loca">서울</div>
		            <div class="reserve-date">2024-04-19[금] ~ 2024-04-20[토]</div>
		          </div>
		          <div class="button">
		            <!-- 약관에 따라 예약 취소 비활성화 필요 -->
		            <!-- 확인창..? -->
		            <button>예약 취소</button>
		            <!-- 버튼 누르면 공연장 상세 페이지로.. -->
		            <button onclick = "location.href = '#'">상세보기</button>
		          </div>
		        </div>
		      </div>
		    </div>
		  </section>
	</div>
    
  <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
</body>
</html>