 
 body {
    height: 100vh;
}


a {
    color: inherit; /* 글자 색생은 부모로부터 상속 */
    text-decoration: none;
}

head {
    display: none;
}

body {
    display: block;
}

.card {
    width: 600px;
    height: 600px;
    margin: 100px auto;

    box-shadow: 3px 3px 50px #e6e6e6;
    /* box-shadow: 1px 1px 10px #000; */
    /* box-shadow: offset x y blur color; */
    /* offset x:는 얼마나, y:는 얼마나 blur:흐림정도는 얼마나 color:색은 어떤걸로*/

    border-radius: 20px;
    position: relative; /* 상대적인 값 */
}

.card-header {
    padding: 20px;
    text-align: center;
}

.card-header h1 {
    font-size: 30px;
    font-weight: 600;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body input[type="search"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
}

.card-body a.search {
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #FFCA63;
    color: #fff;
}

.card-body div {
    margin-top: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.card-body div div {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    margin: 0;
    border: none;
}

.card-body .check ,.delete {
    width: 5%;
}

.card-body .title {
    width: 70%;
    text-align: left;
}

.card-body .delete button {
    background-color: #fff;
    border: none;
}

.number {
    padding: 10px;
}

.number li {
    display: inline-block;
}

.number li a {
    display: block; 
    width: 40px;
    /* text-align이 위로 올라간다 */
    line-height: 40px;
    border-radius: 10px;
    margin: 3px;
    margin-top: 20px;
    box-shadow: 0 5px 10px #f1f1f1;
}

.number li a.active {
    background-color: rgb(252, 212, 205);
}

.writeBtn {
    /* position: absolute; 는 절대적인 값으로 상대적인 값이 필요하다. */
    /* 상대적인 값은 전체 영역을 담당하는 class="card"에 position: relative; 을 추가한다. */
    position: absolute; /* 절대적인 값 */
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 10px 10px 20px 10px  ;
}
.writeBtn a {
    padding: 10px;
    background-color:#FFCA63;
    color: #fff;
    border-radius: 10px;
}