<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail_basic.css">
    <link rel="stylesheet" href="/css/datail_picture.css">
    <link rel="stylesheet" href="/css/detail_favorite.css">
    <link rel="stylesheet" href="/css/detail_notification.css">
    <link rel="stylesheet" href="/css/detail_conversion.css">
    <link rel="stylesheet" href="/css/detail_information.css">
    <link rel="stylesheet" href="/css/detail_quote.css">
    <link rel="stylesheet" href="/css/detail_review.css">
    <link rel="stylesheet" href="/css/detail_qna.css">
    <link rel="stylesheet" href="/css/detail_amount.css">
    <title>detail</title>
</head>
<body>
	
	<div layout:fragment="content">
	
      <section class="hall-detail">
        <div class="imgbox">            
          <img src="" alt="">
        </div>

        <div class="hall-content">
          <p class="address-text">oo대학</p>
          <p class="title-text">난파 음악관 콘서트 홀</p>
          <p class="address-text">경기 어디구 어디로 27</p>
        </div>


        <!-- ==================================================공연장 이미지 끝================================================== -->


        <div class="favorite">
          <i class="fa-regular fa-star fa-5x"></i>
          <i class="fa-sharp fa-solid fa-arrow-up-from-bracket fa-4x"></i>
          <i class="mini fa-solid fa-star fa-3x"></i>
          <i class="text fa-solid fa-3x">4.8(22)</i>
        </div>

        <hr>


        <!-- ==================================================즐겨찾기 공유 별점 끝================================================== -->


        <div class="container">
          <h1>※ 중요 안내 사항</h1> <br>
          <p>사이트의 고정 안내 사항이나 해당 공연장에 중요 안내사항을 이 공간에 표시합니다. <br>
          크기는 컨텐츠 내용에 따라 높이가 달라질 것으로 예상됩니다. <br>
          ★★★3월 10일까지 체육관 보수 공사로 인해 대관이 불가능합니다. 이 부분 양해부탁드립니다.★★★ <br>
          않을까... 색깔도 <span class="text-red">이렇게</span> 변경! 강조!!!!</p>
        </div>


        <!-- ==================================================중요 안내 사항 끝================================================== -->


        <div class="main">
          <input type="radio" id="tab-1" name="show" checked/>
          <input type="radio" id="tab-2" name="show" />
          <input type="radio" id="tab-3" name="show" />
          <input type="radio" id="tab-4" name="show" />
          
          <div class="tab">
            <label for="tab-1" id="t1">상세 정보</label>
            <label for="tab-2" id="t2">견적 내기</label>
            <label for="tab-3" id="t3">리뷰</label>
            <label for="tab-4" id="t4">문의 사항</label>
          </div>


        <!-- ==================================================목록 변환 끝================================================== -->


          <div class="content">
            <div class="content-dis">
              <h1>상세 정보</h1>
              <br>
              <p>★체육대회 및 행사(20명 이상의 행사)는 Life페이지가 아닌 Work페이지로 이동하여 예약해주세요. <br>
              생활체육으로 결제 후 체육대회 및 행사 진행 시 환불없이 퇴장 조치 될 수 있습니다. <br>
              <br>
              ★★체대입시 혹은 개인 및 단체 레슨은 해당 공간에서 블가능합니다. <br>
              <br>
              생활체육으로 대관 후 체대입시 및 레슨 목적으로 이용 시 환불없이 퇴장 조치될 수 있습니다. 이 부분 유의부탁드립니다. <br>
              <br>
              ★★★첫 타임이거나 마지막 타임일 경우 골대를 옮겨달라는 현장매니저의 부탁이 있을 수 있습니다. <br>
              혼자서 옮기기 어려운 골대이다보니 도움을 요청드릴 수 있는 점 양해부탁드립니다. <br>
              <br>
              *예약 전 아래 설명들을 필독 해주시기 바랍니다.* (고객 미숙지로 인한 불이익 시 쉐어잇이 책임지지 않습니다.) <br>
              <br>
              0. 공통 ★학교 사정으로 인해 예약이 취소될 수 있습니다. <br>
              (해당 경우 100% 환불 조치 외에, 별다른 보상이 제공되지 않으니 예약 시에 참고 부탁드립니다.) <br>
              1. 실시간 '생활체육' 예약 안내 <br>
              ★공지 예약 과정에서 '호스트 전달 내용'에 이용하려는 스포츠 종목을 꼭 적어주세요. <br>
              ★가능 종목 : 농구(5:5), 배구(6인제), 배드민턴(4코트) *이외 스포츠는 협의 필요 <br>
              ★예약 가능 일자 : 매월 20일(20일이 휴일인 경우 이후 가장 빠른 평일) <br>
              18시 익월 한 달 예약 오픈 (학교 일정에 따라 매월 예약 가능한 일시가 달라지기 때문에 한 달 단위 예약만 가능, 장기대관 불가)</p>
              <br>
              <br>
              <br>
              <br>

              <h1>시설정보</h1>
              <table>
                <tr>
                  <td class="color">면적</td>
                  <td>   942 ㎡   284.95 평</td>
                </tr>
                <tr>
                  <td class="color">가로</td>
                  <td>   35.12 m</td>
                </tr>
                <tr>
                  <td class="color">세로</td>
                  <td>   26.83 m</td>
                </tr>
                <tr>
                  <td class="color">천정높이</td>
                  <td>   7.26 m</td>
                </tr>
                <tr>
                  <td class="color">최대 수용 인원</td>
                  <td>   866 명</td>
                </tr>
              </table>

              <hr>
              <br>
              <br>

              <div class="map">

                <h1>지도</h1>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.
                7500924868004!2d126.92247877632376!3d37.
                58450202309692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c985b23292a2d%3A0x459427c4b994b6b7!
                2z7ISc7Jq47Yq567OE7IucIOyEnOuMgOusuOq1rCDqsIDsoozroZwgMTM0!5e0!3m2!1sko!2skr!4v1710923727190!5m2!1sko!2skr" 
                width="1125" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br>

                <i class="fa-solid fa-location-dot"> 서울 서대문구 가좌로 134</i>

              </div>

              <hr>
              <br>
              <br>

              <h1>주의 사항</h1> <br>
              <p>*예약 전 아래 설명들을 필독 해주시기 바랍니다.* (고객 미숙지로 인한 불이익 시 쉐어잇이 책임지지 않습니다.) <br>
              <br>
              0. 공통 ★학교 사정으로 인해 예약이 취소될 수 있습니다. <br>
              1. 실시간 '생활체육' 예약 안내 <br>
              ★공지 예약 과정에서 '호스트 전달 내용'에 이용하려는 스포츠 종목을 꼭 적어주세요. <br>
              ★가능 종목 : 농구(5:5), 배구(6인제), 배드민턴(4코트) *이외 스포츠는 협의 필요 <br>
              ★예약 가능 일자 : 매월 20일(20일이 휴일인 경우 이후 가장 빠른 평일) <br>
              18시 익월 한 달 예약 오픈 (학교 일정에 따라 매월 예약 가능한 일시가 달라지기 때문에 한 달 단위 예약만 가능, 장기대관 불가)</p>

              <br>
              <hr>
              <br>
              <br>

              <h1>환불 규정</h1>
              <p>실시간 상품 <br>
              천재지변 및 불가항력 <br>
              - 공간 이용일 기준 당일 취소 시 : 100% 환불 <br>
              회원 <br>
              - 공간 이용일 기준 7일 전 : 90% 환불 <br>
              <br>
              - 공간 이용일 기준 6일 ~ 4일 전 : 50% 환불 <br>
              <br>
              - 공간 이용일 기준 3일 ~ 당일 취소 시 : 환불 불가 <br>
              <br>
              회사 및 호스트</p>

              <hr>
              <br>
              <br>

            </div>


        <!-- ==================================================상세 정보 목록 끝================================================== -->


            <div class="content-dis">
              <section class="quote">
                <h2>대여 일시</h2>
                <div class="rental-date">
                  <div class="start">
                    <span class="start-date">시작일</span>
                    <input type="date" placeholder="날짜 선택">
                    <span class="start-time">시작 시간 선택</span>
                    <select name="am-pm" id="am-pm">
                      <option value="sel">선택</option>
                      <option value="am">오전</option>
                      <option value="pm">오후</option>
                      <option value="nm">야간</option>
                    </select>
                  </div>

                  <div class="end">
                    <span class="end-date">종료일</span>
                    <input type="date" placeholder="날짜 선택">
                    <span class="end-time">종료 시간 선택</span>
                    <select name="am-pm" id="am-pm">
                      <option value="sel">선택</option>
                      <option value="am">오전</option>
                      <option value="pm">오후</option>
                      <option value="nm">야간</option>
                    </select>
                  </div>
                  <p>※오전 : 09:00 ~ 13:00 | 오후 : 13:00 ~ 18:00 | 야간 : 18:00 ~ 22:00</p>
                  <p><span class="text-red">해당 되는 시간대</span>로 선택해 주십시오.</p>
              </section>

                <br>
                <br>

              <section class="equipment">
                    <h2>선택 장비<span>사용 체크 및 개수에 따라 견적 비용에 추가 됩니다.</span></h2>
                    <div class="equipment-list">
                      <span>마이크</span> <br>
                      <div class="mic-line">
                        <input type="checkbox" name="mics" value="line" id="line"> 유선 마이크
                        <span class="count">개수</span>
                        <select name="mic-count" id="mic-count">
                          <option value="sel">선택</option>
                          <option value="one">1</option>
                          <option value="two">2</option>
                        </select>
                        <span class="price">각 7,000원</span>
                      </div>

                      <div class="mic-noline">
                        <input type="checkbox" name="mics" value="noline" id="noline"> 무선 마이크
                        <span class="count">개수</span>
                        <select name="mic-count" id="mic-count">
                          <option value="sel">선택</option>
                          <option value="one">1</option>
                          <option value="two">2</option>
                        </select>
                        <span class="price">각 10,000원</span>
                      </div>

                      <br>

                      <span>스피커</span> <br>
                      <div class="main-speaker">
                        <input type="checkbox" name="speakers" value="main" id="main"> 메인 스피커
                        <span class="use">사용 여부</span>
                        <select name="speaker-use" id="speaker-use">
                          <option value="sel">선택</option>
                          <option value="yes">예</option>
                          <option value="no">아니오</option>
                        </select>
                        <span class="price">150,000원</span>
                      </div>

                      <div class="sub-speaker">
                        <input type="checkbox" name="speakers" value="sub" id="sub"> 서브 스피커
                        <span class="use">사용 여부</span>
                        <select name="speaker-use" id="speaker-use">
                          <option value="sel">선택</option>
                          <option value="yes">예</option>
                          <option value="no">아니오</option>
                        </select>
                        <span class="price">100,000원</span>
                      </div>

                      <div class="woofer-speaker">
                        <input type="checkbox" name="speakers" value="woofer" id="woofer"> 우퍼 스피커
                        <span class="use">사용 여부</span>
                        <select name="speaker-use" id="speaker-use">
                          <option value="sel">선택</option>
                          <option value="yes">예</option>
                          <option value="no">아니오</option>
                        </select>
                        <span class="price">100,000원</span>
                      </div>

                      <div class="stage-speaker">
                        <input type="checkbox" name="speakers" value="stage" id="stage"> 스테이지 스피커
                        <span class="use">사용 여부</span>
                        <select name="speaker-use" id="speaker-use">
                          <option value="sel">선택</option>
                          <option value="yes">예</option>
                          <option value="no">아니오</option>
                        </select>
                        <span class="price">50,000원</span>
                      </div>

                      <br>

                      <span>조명</span> <br>
                      <div class="non-moving">
                        <input type="checkbox" name="light" value="non" id="non"> 조명기
                        <span class="use">사용 여부</span>
                        <select name="light-use" id="light-use">
                          <option value="sel">선택</option>
                          <option value="yes">예</option>
                          <option value="no">아니오</option>
                        </select>
                        <span class="price">100,000원</span>
                      </div>

                      <div class="moving">
                        <input type="checkbox" name="moving-light" value="on" id="on"> 무빙 조명기
                        <span class="count">개수</span>
                        <select name="moving-count" id="moving-count">
                          <option value="sel">선택</option>
                          <option value="one">1</option>
                          <option value="two">2</option>
                          <option value="three">3</option>
                          <option value="four">4</option>
                          <option value="five">5</option>
                          <option value="six">6</option>
                          <option value="seven">7</option>
                          <option value="eight">8</option>
                        </select>
                        <span class="price">각 20,000원</span>
                      </div>
                    </div>
              </section>

              <br>
              <br>

              <section class="etc">
                <h2>기타</h2>
                <div class="etc-list">
                  <h3>취식 여부<span>취식은 개별 준비 사항입니다. 행사 진행 시 취식이 진행된다면 선택해 주세요.</span></h3> <br>
                  <div class="eat">
                    <input type="checkbox" name="babcar" value="babcar" class="eat-list"> 밥차 <br>
                    <input type="checkbox" name="dosirak" value="dosirak" class="eat-list"> 도시락 <br>
                    <input type="checkbox" name="outeat" value="outeat" class="eat-list"> 외부 가게 <br>
                    <input type="checkbox" name="ineat" value="ineat" class="eat-list"> 교내식당
                  </div>
                  
                  <br>

                  <h3>냉난방</h3>
                  <div class="heat-cool">
                    <input type="checkbox" name="use" value="use" class="use"> 사용 <br>
                    <input type="checkbox" name="no-use" value="no-use" class="use"> 미사용 <br>
                    <input type="checkbox" name="later" value="later" class="use"> 추후 협의
                  </div>


                </div>

              </section>

            </div>

            <div class="content-dis">
              <section class="review">
                <div class="title">
                  <h1>리뷰<span> 22(4.8)</span></h1>
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로
                  짧게도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="pagination">
                  <a href="#" class="one">1</a>
                  <a href="#" class="two">2</a>
                  <a href="#" class="three">3</a>
                  <a href="#" class="etc">...</a>
                </div>
              </section>
            </div>

            <div class="content-dis">
              <section class="qna">
                <div class="title">
                  <h1>문의 작성</h1>
                </div>

                <div class="edit">
                  <form>
                    <textarea></textarea>
                    <br>
                    <input type="submit" value="등록">
                  </form>
                </div>
                
                <br>

                <div class="title">
                  <h1>문의<span> 5</span></h1>
                </div>

                <br>

                <div class="question-nickname">
                  <span id="name">닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="question-content">문의합니다.
                  사용일자에 대해서 어쩌고 저쩌고 하려고 하는데 괜찮을까요?
                </div>

                <div class="answer-nickname">
                  <i class="fa-solid fa-reply"> Re) </i>
                  <span id="name">공연장측 게시자 닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="answer-content">안녕하세요. OOO입니다.

                  자세한 문의 사항은 상세 페이지의 전화번호로 문의 주시면 감사하겠습니다.
                </div>

                <br>
                <br>

                <div class="question-nickname">
                  <span id="name">닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="question-content">문의합니다.
                  사용일자에 대해서 어쩌고 저쩌고 하려고 하는데 괜찮을까요?
                </div>

                <div class="answer-nickname">
                  <i class="fa-solid fa-reply"> Re) </i>
                  <span id="name">공연장측 게시자 닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="answer-content">안녕하세요. OOO입니다.

                  자세한 문의 사항은 상세 페이지의 전화번호로 문의 주시면 감사하겠습니다.
                </div>

                <br>
                <br>

                <div class="question-nickname">
                  <span id="name">닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="question-content">문의합니다.
                  사용일자에 대해서 어쩌고 저쩌고 하려고 하는데 괜찮을까요?
                </div>

                <div class="answer-nickname">
                  <i class="fa-solid fa-reply"> Re) </i>
                  <span id="name">공연장측 게시자 닉네임</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="answer-content">안녕하세요. OOO입니다.

                  자세한 문의 사항은 상세 페이지의 전화번호로 문의 주시면 감사하겠습니다.
                </div>

                <br>

                <div class="pagination">
                  <a href="#" class="one">1</a>
                  <a href="#" class="two">2</a>
                  <a href="#" class="three">3</a>
                  <a href="#" class="etc">...</a>
                </div>

              </section>
            </div>

          </div>

        </div>

      </section>

      <section class="hall-expectation">
      <div class="expectation">
        <div class="estimate">예상 견적: </div>
        <div class="amount"></div>
        <div>원</div>
        <a class="reservation">예약 하기</a>
      </div>
      </section>


        <!-- ==================================================최종 금액 예약하기 끝================================================== -->


      <script src="https://kit.fontawesome.com/194e6948f1.js" crossorigin="anonymous"></script>
      
      <script>
		  $(".equipment-list").on("click", "input:checkbox", function() {
			  var $items = $(".equipment-list").find("input:checkbox:checked", "select:option");
			  var $total = $(".amount" * "select:option:value");
			  var cur_total = 0;
			  
			  $items.each(function() {
				  var $this = $(this);
				  var $target = $("span='" + $this.attr("class") + "'");
				  var item_value = +($target.html().replace("원", "") || 0);
				  
				  cur_total += item_value;
			  });
			  
			  $total.html(cur_total);
		  });
		  
	  </script>
      
      </div>

</body>
</html>