<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hall/detail/detail.css">
    <link rel="stylesheet" href="/css/hall/detail/detail_quote.css">
    <link rel="stylesheet" href="/css/hall/detail/detail_review.css">
    <link rel="stylesheet" href="/css/hall/detail/detail_qna.css">
    <title>detail</title>
</head>
<body>
	
	<div layout:fragment="content">
	
      <section class="hall-detail">
		
        <div class="imgbox">            
          <img src="" alt="">
        </div>

        <div class="hall-content">
          <p class="title-text" th:text="${hall.hall_name}"></p>
          <p class="address-text" th:text="${hall.address1}"></p>
        </div>


        <!-- ==================================================공연장 이미지 끝================================================== -->


        <div class="favorite">
          <i class="fa-regular fa-star fa-5x"></i>
          <i class="fa-sharp fa-solid fa-arrow-up-from-bracket fa-4x"></i>
          <i class="mini fa-solid fa-star fa-3x"></i>
          <i class="text fa-solid fa-3x"><span th:text="${hall.rating}"></span> (10)</i>
        </div>

        <hr>


        <!-- ==================================================즐겨찾기 공유 별점 끝================================================== -->


        <div id="top" class="container">
          <h1>※ 중요 안내 사항</h1> <br>
          <p>사이트의 고정 안내 사항이나 해당 공연장에 중요 안내사항을 이 공간에 표시합니다. <br>
          크기는 컨텐츠 내용에 따라 높이가 달라질 것으로 예상됩니다. <br>
          ★★★3월 10일까지 체육관 보수 공사로 인해 대관이 불가능합니다. 이 부분 양해부탁드립니다.★★★ <br>
          않을까... 색깔도 <span class="text-red">이렇게</span> 변경! 강조!!!!</p>
        </div>


        <!-- ==================================================중요 안내 사항 끝================================================== -->

        <div class="main">
		  <input type="radio" id="tab-1" name="show" checked/>
          <input type="radio" id="tab-2" name="show" />
          <input type="radio" id="tab-3" name="show" />
          <input type="radio" id="tab-4" name="show" />
          
          <div class="tab">
			<label for="tab-1" id="t1">상세 정보</label>
            <label for="tab-2" id="t2">견적 내기</label>
            <label for="tab-3" id="t3">리뷰</label>
            <label for="tab-4" id="t4">문의 사항</label>
          </div>


        <!-- ==================================================목록 변환 끝================================================== -->

          <div class="content">
            <div class="content-dis">
			  <div class="box">
 	            <h1>상세 정보</h1>
				<pre th:text="${hall.hall_description}"></pre>	
			  </div>

			  <div class="box">
	            <h1>시설정보</h1>
	            <table>
	              <tr>
	              	<td class="color">면적</td>
	                <td><span th:text="${hall.area}"></span>㎡  <span th:text="${ft}"></span>평</td>
	              </tr>
	              <tr>
	                <td class="color">가로</td>
	                <td><span th:text="${hall.width}"></span> m</td>
	              </tr>
	              <tr>
	                <td class="color">세로</td>
	                <td><span th:text="${hall.length}"></span> m</td>
	              </tr>
	              <tr>
	                <td class="color">천정높이</td>
	                <td><span th:text="${hall.height}"></span> m</td>
	              </tr>
	              <tr>
	                <td class="color">최대 수용 인원</td>
	                <td><span th:text="${hall.maximum}"></span> 명</td>
	              </tr>
	            </table>
			  </div>

              <hr>
			  <div class="box">
				<div class="map">
				  <h1>지도</h1>
				  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.
				  7500924868004!2d126.92247877632376!3d37.
				  58450202309692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c985b23292a2d%3A0x459427c4b994b6b7!
				  2z7ISc7Jq47Yq567OE7IucIOyEnOuMgOusuOq1rCDqsIDsoozroZwgMTM0!5e0!3m2!1sko!2skr!4v1710923727190!5m2!1sko!2skr" 
				  width="81%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
				  referrerpolicy="no-referrer-when-downgrade"></iframe>
				  <i class="fa-solid fa-location-dot" th:text="| ${hall.address1} ${hall.address2}|"></i>
				
				</div>
			  </div>


              <hr>

			  <div class="box">
	              <h1>주의 사항</h1>
				  <pre th:text="${hall.warning}"></pre>	
			  </div>

              <h1>환불 규정</h1>
              <p>실시간 상품 <br>
              천재지변 및 불가항력 <br>
              - 공간 이용일 기준 당일 취소 시 : 100% 환불 <br>
              회원 <br>
              - 공간 이용일 기준 7일 전 : 90% 환불 <br>
              <br>
              - 공간 이용일 기준 6일 ~ 4일 전 : 50% 환불 <br>
              <br>
              - 공간 이용일 기준 3일 ~ 당일 취소 시 : 환불 불가 <br>
              <br>

              <hr>
              <br>
              <br>

            </div>
			

        <!-- ==================================================상세 정보 목록 끝================================================== -->


            <div class="content-dis">
				
              <section class="quote">
                <h2>대여 일시</h2>
                <div class="rental-date">
					
                  <div class="date-box">
                    <span class="start-date">시작일</span>
                    <input type="date" placeholder="날짜 선택">
                    <span class="start-time">시작 시간 선택</span>
                    <select name="sam-pm" id="am-pm">
                      <option value="sel">선택</option>
                      <option value="am">오전</option>
                      <option value="pm">오후</option>
                      <option value="nm">야간</option>
                    </select>
                  </div>
				  <div class="date-box"></div>
                  <div class="date-box">
                    <span class="end-date">종료일</span>
                    <input type="date" placeholder="날짜 선택">
                    <span class="end-time">종료 시간 선택</span>
                    <select name="eam-pm" id="am-pm">
                      <option value="sel">선택</option>
                      <option value="am">오전</option>
                      <option value="pm">오후</option>
                      <option value="nm">야간</option>
                    </select>
                  </div>
				
                  <p>※오전 : 09:00 ~ 13:00 | 오후 : 13:00 ~ 18:00 | 야간 : 18:00 ~ 22:00</p>
                  <p><span class="text-red">해당 되는 시간대</span>로 선택해 주십시오.</p>
				</div>
              </section>
                <br>
                <br>

              <section class="equipment">
              	<h2>선택 장비<span>사용 체크 및 개수에 따라 견적 비용에 추가 됩니다.</span></h2>
                <div class="equipment-list">	
				<th:block th:each="equiList : ${equipMap}">
<!--					<th:block th:each="equip, i : ${equiList.value}">
		                 <h2 th:text="${equip.equip_type]}"></h2>
						
					</th:block>-->
					
				</th:block>
  				  	<div></div>  
				  	<div class="item-line">
					<label>
                        <input type="checkbox" name="mics" value="line" id="line">
						<span>유선 마이크</span>	
					</label>
	                <p class="price">개당 <span>10000</span> 원</p>
		            <span>개수</span>
	                <select name="count" id="count">
	                  <option value="sel">선택</option>
	                  <option value="1">1</option>
	                  <option value="2">2</option>
	                </select>					
                  </div>
				
				  

                </div>
              </section>

              <br>
              <br>

              <section class="etc">
                <h2>기타</h2>
                <div class="etc-list">
                  <h3>취식 여부<span>취식은 개별 준비 사항입니다. 행사 진행 시 취식이 진행된다면 선택해 주세요.</span></h3> <br>
                  <div class="eat">
                    <input type="checkbox" name="babcar" value="babcar" class="eat-list"> 밥차 <br>
                    <input type="checkbox" name="dosirak" value="dosirak" class="eat-list"> 도시락 <br>
                    <input type="checkbox" name="outeat" value="outeat" class="eat-list"> 외부 가게 <br>
                    <input type="checkbox" name="ineat" value="ineat" class="eat-list"> 교내식당
                  </div>
                  
                  <br>

                  <h3>냉난방</h3>
                  <div class="heat-cool">
                    <input type="checkbox" name="use" value="use" class="use"> 사용 <br>
                    <input type="checkbox" name="no-use" value="no-use" class="use"> 미사용 <br>
                    <input type="checkbox" name="later" value="later" class="use"> 추후 협의
                  </div>


                </div>

              </section>

            </div>

            <div class="content-dis">
              <section class="review">
                <div class="title">
                  <h1>리뷰<span> 22(4.8)</span></h1>
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로
                  짧게도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="nickname">
                  <span id="name">닉네임</span>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <i class="min fa-solid fa-star fa"></i>
                  <span id="grade">(5.0)</span>
                  <span id="date">2024-03-11</span>
                </div>

                <div class="review-content">리뷰가 들어가는 곳--------------------------------------------------
                  이런 식으로



                  길게 작성도 되고...
                </div>

                <br>

                <div class="pagination">
                  <a href="#" class="one">1</a>
                  <a href="#" class="two">2</a>
                  <a href="#" class="three">3</a>
                  <a href="#" class="etc">...</a>
                </div>
              </section>
            </div>

            <div class="content-dis">
              <section class="qna">
                <div class="title">
                  <h1>문의 작성</h1>
                </div>

                <div class="edit">
                  <form id="questionForm">
                    <textarea id="questionTextarea" name="questionContent"></textarea>
                    <br>
                    <input type="submit" value="등록">
                  </form>
                </div>
                
                <br>

                <div class="title">
                  <h1>문의<span id="questionCount"> </span></h1>
                </div>

                <br>

                <div id="questionsContainer">
        		</div>

                <br>

                <div class="pagination">
                  <a href="#" class="one">1</a>
                  <a href="#" class="two">2</a>
                  <a href="#" class="three">3</a>
                  <a href="#" class="etc">...</a>
                </div>

              </section>
            </div>

          </div>

        </div>

      </section>

      <section class="hall-expectation">
      <div class="expectation">
        <div class="estimate">예상 견적: </div>
        <div class="amount">0</div>
        <div>원</div>
        <a class="reservation" th:href="@{|/list|}">예약 하기</a>
      </div>
      </section>


        <!-- ==================================================최종 금액 예약하기 끝================================================== -->

      
	  <script src="https://code.jquery.com/jquery-3.6.0.js"></script> 
      <script src="/js/detail_qna.js"></script>
	  
      </div>

</body>
</html>