<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/hall/h_list_style.css" />
    <title>Document</title>
  </head>
  <body>
	<div layout:fragment="content">	
	    <!-- Item Filter -->
	    <section class="filter">
	      <h1>필터</h1>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p onclick="openModal()" >지역</p>
	        </div>
	        <div class="tags" id="location-tag">
	         
	        </div>
	      </div>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>가격</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>50~100 만원</p></div>
	        </div>
	      </div>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>인원수</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>200명 이상</p></div>
	        </div>
	      </div>
	    </section>
	    <!-- Item Filter End -->
	
	    <!-- Hall List -->
	    <section class="hall-list">
	      <div class="con">  
	        <div class="drop-menu">
	          <p class="cur-item">인기순</p>
	          <i class="fa-solid fa-chevron-down"></i>
	        </div>
			<div th:if="${hallList.size() == 0}">
				<h1>결과가 없습니다.</h1>
			</div>
			
	        <div class="box-container">
	
			  <!-- 상자 반복 일단 8개까지 보이기 -->
  			  <th:block th:each="hall,index : ${hallList}" th:if="${index.index} < 8" >
  				<div class="box" th:onclick="|location.href='@{/hall/detail/}' + ${hall.hall_id}|">
  				  <div class="imgbox">            
  				    <img src="" alt="">
  				    <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
  				  </div>
  				  <div class="content">
  				    <p class="address-text" th:text="|${hall.address1.substring(0, 6)}|"></p>
  				    <p class="title-text" th:text="${hall.hall_name}">난파 음악관 콘서트 홀</p>
  				    <p class="price-text"><span th:text="${hall.minPrice}" class="point">300,000</span>원~</p>
  					<div class="time-text">
  					  <th:block th:each="time, index : ${hall.hallTimeList}">
  						<p th:text="|${time.type}|"></p>
  						<span th:if="${index.index}+1 < ${hall.hallTimeList.size()}">|</span>							
  					  </th:block>
  					</div>
  				  </div>
  				</div>
  			  </th:block>


	        </div>
	      </div>
	    </section>
	    <!-- Hall List End -->

	<!-- 모달 진행중-->
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
            <!-- 모달 내용 -->
			<div class="top">
				<h2>지역 필터</h2>
			</div>
			<div class="middle" data-filter-id="region">
				<div class="left-menu">
					<ul>
					   <li data-filter="서울" class="filterbtn" >서울</li>
			           <li data-filter="경기" class="filterbtn" >경기</li>
			           <li data-filter="인천" class="filterbtn" >인천</li>
			           <li data-filter="부산" class="filterbtn" >부산</li>
			           <li data-filter="대전" class="filterbtn" >대전</li>
			           <li data-filter="대구" class="filterbtn" >대구</li>
			           <li data-filter="울산" class="filterbtn" >울산</li>
			           <li data-filter="세종" class="filterbtn" >세종</li>
			           <li data-filter="광주" class="filterbtn" >광주</li>
			           <li data-filter="강원" class="filterbtn" >강원</li>
			           <li data-filter="충북" class="filterbtn" >충북</li>
			           <li data-filter="충남" class="filterbtn" >충남</li>
			           <li data-filter="경북" class="filterbtn" >경북</li>
			           <li data-filter="경남" class="filterbtn" >경남</li>
			           <li data-filter="전북" class="filterbtn" >전북</li>
			           <li data-filter="전남" class="filterbtn" >전남</li>
			           <li data-filter="제주" class="filterbtn" >제주</li>
					</ul>
				</div>
				<div class="right-menu">
					<form name="region_filter_form" th:action="@{/list}" method="post">
						<!--서울-->
						<label data-filter="서울" class="filterList">
							<input type="checkbox" name="regionItem" th:value="서울" id="all" onclick="allSelect(this);"/>
							<p>서울 전체</p>													
						</label>
						
						<th:block th:each="item : ${서울}">
							<label data-filter="서울" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
					   
					    <!-- 경기 -->
						<label data-filter="경기" class="filterList">
							<input type="checkbox" name="regionItem" th:value="경기" 	id="all" class="allSelect"/>
							<p>경기 전체</p>													
						</label>
					    <th:block th:each="item : ${경기}">
							<label data-filter="경기" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
					    </th:block>
						<!-- 인천 -->
						<label data-filter="인천" class="filterList">
							<input type="checkbox" name="regionItem" th:value="인천" 	id="all" class="allSelect"/>
							<p>인천 전체</p>													
						</label>						
						<th:block th:each="item : ${인천}">
							<label data-filter="인천" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 부산 -->
						<label data-filter="부산" class="filterList">
							<input type="checkbox" name="regionItem" th:value="부산" 	id="all" class="allSelect"/>
							<p>부산 전체</p>													
						</label>						
						<th:block th:each="item : ${부산}">
							<label data-filter="부산" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 대전 -->
						<label data-filter="대전" class="filterList">
							<input type="checkbox" name="regionItem" th:value="대전" 	id="all" class="allSelect"/>
							<p>대전 전체</p>													
						</label>
						<th:block th:each="item : ${대전}">
							<label data-filter="대전" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 대구 -->
						<label data-filter="대구" class="filterList">
							<input type="checkbox" name="regionItem" th:value="대구" 	id="all" class="allSelect"/>
							<p>대구 전체</p>													
						</label>
						<th:block th:each="item : ${대구}">
							<label data-filter="대구" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 울산 -->
						<label data-filter="울산" class="filterList">
							<input type="checkbox" name="regionItem" th:value="울산" 	id="all" class="allSelect"/>
							<p>울산 전체</p>													
						</label>
						<th:block th:each="item : ${울산}">
							<label data-filter="울산" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 세종 -->
						<label data-filter="세종" class="filterList">
							<input type="checkbox" name="regionItem" th:value="세종" 	id="all" class="allSelect"/>
							<p>세종 전체</p>													
						</label>
						<label data-filter="세종" class="filterList">
							<input type="checkbox" name="regionItem" th:value="${item}"/>
							<p>세종 전체</p>													
						</label>
						<!-- 광주 -->
						<label data-filter="광주" class="filterList">
							<input type="checkbox" name="regionItem" th:value="광주" 	id="all" class="allSelect"/>
							<p>광주 전체</p>													
						</label>
						<th:block th:each="item : ${광주}">
							<label data-filter="광주" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 강원 -->
						<label data-filter="강원" class="filterList">
							<input type="checkbox" name="regionItem" th:value="강원" 	id="all" class="allSelect"/>
							<p>강원 전체</p>													
						</label>
						<th:block th:each="item : ${강원}">
							<label data-filter="강원" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 충북 -->
						<label data-filter="충북" class="filterList">
							<input type="checkbox" name="regionItem" th:value="충북" 	id="all" class="allSelect"/>
							<p>충북 전체</p>													
						</label>
						<th:block th:each="item : ${충북}">
							<label data-filter="충북" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 충남 -->
						<label data-filter="충남" class="filterList">
							<input type="checkbox" name="regionItem" th:value="충남" 	id="all" class="allSelect"/>
							<p>충남 전체</p>													
						</label>
						<th:block th:each="item : ${충남}">
							<label data-filter="충남" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 경북 -->
						<label data-filter="경북" class="filterList">
							<input type="checkbox" name="regionItem" th:value="경북" 	id="all" class="allSelect"/>
							<p>경북 전체</p>													
						</label>
						<th:block th:each="item : ${경북}">
							<label data-filter="경북" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>
						</th:block>
						<!-- 경남 -->
						<label data-filter="경남" class="filterList">
							<input type="checkbox" name="regionItem" th:value="경남" 	id="all" class="allSelect"/>
							<p>경남 전체</p>													
						</label>
						<th:block th:each="item : ${경남}">
							<label data-filter="경남" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>					
						</th:block>
						<!-- 전북 -->
						<label data-filter="전북" class="filterList">
							<input type="checkbox" name="regionItem" th:value="전북" 	id="all" class="allSelect"/>
							<p>전북 전체</p>													
						</label>
						<th:block th:each="item : ${전북}">
							<label data-filter="전북" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>					
						</th:block>
						<!-- 전남 -->
						<label data-filter="전남" class="filterList">
							<input type="checkbox" name="regionItem" th:value="전남" 	id="all" class="allSelect"/>
							<p>전남 전체</p>													
						</label>
						<th:block th:each="item : ${전남}">
							<label data-filter="전남" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>						
						</th:block>
						<!-- 제주 -->
						<label data-filter="제주" class="filterList">
							<input type="checkbox" name="regionItem" th:value="제주" 	id="all" class="allSelect"/>
							<p>제주 전체</p>													
						</label>
						<th:block th:each="item : ${제주}">
							<label data-filter="제주" class="filterList">
								<input type="checkbox" name="regionItem" th:value="${item}"/>
								<p  th:text="${item}" ></p>													
							</label>						
						</th:block>
					</form>	
				</div>
			</div>
			
			<div class="bottom">
				<div class="btn" onclick="filterPush()">필터 적용</div>
			</div>				
			
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="/js/hall_list.js"></script>

	   
	   
	   </div>
  </body>
</html>
