<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/hall/hall_form.css">
    <title>Document</title>
  </head>
  <body>
	<div layout:fragment="content">	

    <section class="hall-form">
      <h1 class="header-text">내 공연장 등록</h1>
      
	  <form name="hall_info_form" th:action method="get" enctype="multipart/form-data">
		<input type="text" name="hall_id" th:value="${hall_info.hall_id}" id="hall_id" hidden>
				
		
        <label for="hall_name">
          <p class="input-name">장소 이름 (제목)</p>
          <input type="text" name="hall_name" th:value="${hall_info.hall_name}" id="hall_name">
        </label>

       <label class="zip-code">
         <p class="input-name">우편번호</p>
		 <input th:value="${hall_info.zip_code}" type="number" name="zip_code" id="zip_code" readonly>
         <div class="addr-btn" onclick="execDaumPostcode()" >주소 검색</div>
       </label>		
		
        <label>
          <p class="input-name">주소</p>
          <input type="text" name="address1" id="address1" th:value="${hall_info.address1}"	readonly>
        </label>
		
        <label>
          <p class="input-name">상세 주소</p>
          <input type="text" name="address2" id="address2" th:value="${hall_info.address2}">
        </label>

		
        <label id='image_wrap' for="imgfile">
          <p class="input-name">사진</p>
          <a href="javascript:" onclick="fileUploadAction();" class="addr-btn">파일 업로드</a>
          <input type="file" name="files" id="imgfile" accept="image/gif, image/jpeg, image/png" multiple hidden/>
        </label>
		<!--미리보기 이미지-->
        <div class="img-input-wrap" >
			<th:block th:each="img, i : ${images}">
				<a href="javascript:void(0);" th:onclick="|deleteImageAction(this);|" class="imgbtn" th:data-index="|${i.index}|" th:id="|img_id_${i.index}|">
					<img th:src="${img.path}" th:data-file="${img.org_file_name}" class="selProductFile" title="Click to remove">
				</a>	
			</th:block>
		</div>

		
		<p class="input-name">무대 기본 정보</p>
        <label class="hall-size">
          <p class="input-name">면적(㎡)</p>
          <input type="number" name="area" id="area" th:value="${hall_info.area}" ><span>㎡</span>
        </label>
        <label class="hall-size">
          <p class="input-name">가로(m)</p>
          <input type="number" name="width" id="width" th:value="${hall_info.width}"><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">세로(m)</p>
          <input type="number" name="length" id="length" th:value="${hall_info.length}"><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">천장높이(m)</p>
          <input type="number" name="height" id="height" th:value="${hall_info.height}"><span>m</span>
        </label>
        <label class="hall-size">
          <p class="input-name">최대 수용 인원(명)</p>
          <input type="number" name="maximum" id="maximum" th:value="${hall_info.maximum}"><span>명</span>
        </label>
        
		<div class="input-time-box">
		  <p class="input-name">예약 가능 시간</p>
		  <div class="input-time">
			
			<label>
				<input id="morning" type="checkbox" name="hallTimeList[0].type" value="오전" 
				th:checked="${hall_info.hallTimeList.get(0).ischeck}">
				<span>오전<br/>09:00 ~ 13:00</span>
				<input class="price_input" type="number" id="m_price" name="hallTimeList[0].price" 
					th:value="${hall_info.hallTimeList.get(0).price}>0 ? ${hall_info.hallTimeList.get(0).price}"
				 	th:disabled="${hall_info.hallTimeList.get(0).ischeck==false} ? 'disabled'"/><span>원</span>
			</label>
			<label>
				<input id="after" type="checkbox" name="hallTimeList[1].type" value="오후" 
					th:checked="${hall_info.hallTimeList.get(1).ischeck}">
				<span>오후<br/>13:00 ~ 18:00</span>
				<input class="price_input" type="number" id="a_price" name="hallTimeList[1].price" 
					th:value="${hall_info.hallTimeList.get(1).price}>0 ? ${hall_info.hallTimeList.get(1).price}"
					th:disabled="${hall_info.hallTimeList.get(1).ischeck==false} ? 'disabled'"/><span>원</span>
			</label>
			<label>
				<input id="eve" type="checkbox" name="hallTimeList[2].type" value="저녁" 
					th:checked="${hall_info.hallTimeList.get(2).ischeck}">
				<span>저녁<br/>18:00 ~ 22:00</span>
				<input class="price_input" type="number" id="e_price" name="hallTimeList[2].price" 
					th:value="${hall_info.hallTimeList.get(2).price}>0 ? ${hall_info.hallTimeList.get(2).price}"
					th:disabled="${hall_info.hallTimeList.get(2).ischeck==false} ? 'disabled'"/><span>원</span>				
			</label>
			<label>
				<input id="full" type="checkbox" name="hallTimeList[3].type" value="하루" 
					th:checked="${hall_info.hallTimeList.get(3).ischeck}">
				<span>하루<br/>09:00 ~ 22:00</span>
				<input class="price_input" type="number" id="f_price" name="hallTimeList[3].price" 
					th:value="${hall_info.hallTimeList.get(3).price}>0 ? ${hall_info.hallTimeList.get(3).price}"
					th:disabled="${hall_info.hallTimeList.get(3).ischeck==false} ? 'disabled'"/><span>원</span>	
			</label>	
		  </div>
		</div>
		
        <label class="text-area">
          <p class="input-name">상세 설명</p>
          <textarea name="hall_description" id="hall_description" cols="30" rows="10" th:text="${hall_info.hall_description}" placeholder="공연장에 대한 상세한 설명을 작성해 주십시오. "></textarea>
        </label>

        <label class="text-area">
          <p class="input-name">주의 사항</p>
          <textarea name="warning" id="warning" cols="30" rows="10" th:text="${hall_info.warning}" placeholder="시설 이용자가 숙지해야할 주의사항을 작성해 주십시오."></textarea>
        </label>
		
		<button type="button" onclick="checkValue();" class="btn">다음</button>
      </form>
      
      <!-- <a href="javascript:" class="btn" onclick="submitAction();">다음</a> -->
    </section>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/hall_form.js" charset="UTF-8"></script>

	</div>
  </body>
</html>
