<!DOCTYPE html>
<html layout:decorate="~{html/layout/default_layout}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/h_list_style.css" />
    <title>Document</title>
  </head>
  <body>
	<div layout:fragment="content">	

	    <!-- Item Filter -->
	    <section class="filter">
	      <h1>필터</h1>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>지역</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>강서구</p></div>
	          <div class="tag"><p>강남구</p></div>
	        </div>
	      </div>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>공간유형</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>대강당/극장</p></div>
	        </div>
	      </div>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>가격</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>50~100 만원</p></div>
	        </div>
	      </div>
	      <div class="fil-container">
	        <div class="fil-name">
	          <p>인원수</p>
	        </div>
	        <div class="tags">
	          <div class="tag"><p>200명 이상</p></div>
	        </div>
	      </div>
	    </section>
	    <!-- Item Filter End -->
	
	    <!-- Hall List -->
	    <section class="hall-list">
	      <div class="con">  
	        <div class="drop-menu">
	          <p class="cur-item">인기순</p>
	          <i class="fa-solid fa-chevron-down"></i>
	        </div>
	        <div class="box-container">
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
	            </div>
	          </div>
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
	            </div>
	          </div>
	          
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
	            </div>
	          </div>
	  
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 </p>
	            </div>
	          </div>
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">1일</p>
	            </div>
	          </div>
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
	            </div>
	          </div>
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간 | 1일</p>
	            </div>
	          </div>
	          <div class="box">
	            <div class="imgbox">            
	              <img src="" alt="">
	              <i id="like-btn" class="fa fa-star fa-4x" aria-hidden="true"></i>
	            </div>
	            <div class="content">
	              <p class="address-text">oo대학 / 경기 화성시</p>
	              <p class="title-text">난파 음악관 콘서트 홀</p>
	              <p class="price-text"><span class="point">300,000</span>원~</p>
	              <p class="time-text">오전 | 오후 | 야간</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	    <!-- Hall List End -->

	</div>

    <script
      src="https://kit.fontawesome.com/194e6948f1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
