@import "../../reset.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
	text-decoration: none;
	color: black;
}

body {
	height: 100%;
	color: var(--black);
	background-color: #fff
}

.con {
	width: 100%;
	min-height: 100%;
	height: auto;
	padding-top: 90px;
	display: flex;
}

.con .left {
	width: 20vw;
	border-right: 2px solid var(--light_gray);
	margin-left: 180px;
	min-height: 100%;
	height: auto;
	padding-top: 4rem;
	padding-bottom: 20rem;
}

.con .left .left-main {
	font-size: 2rem;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: var(--light_gray);
	padding: 1.75rem 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.con .left .left-main .mypage {
	font-size: 2.5rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

.con .left .left-main .username {
	font-size: 2rem;
	padding-top: 2rem;
	font-weight: 500;
}

.con .left .left-menu ul {
	width: 100%;
	font-weight: bold;
}

.con .left .left-menu .open {
	color: var(--black);
	background-color: var(--light_gray);
}

.con .left .left-menu a:hover {
	color: var(--black);
}

.con .left .left-menu li {
	font-size: 1.5rem;
	text-align: left;
	color: gray;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	padding: 1.25rem;
	padding-left: 2.5rem;
}

.con .content {
	width: 70vw;
	margin-top: 5rem;
	margin-right: 180px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20rem;
}

.con .content .content-main {
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem 0;
	margin-bottom: 3rem;
}

.con .content .list {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 2rem;
}

.con .content .list h2 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.con .content .list>div {
	padding: 2rem 3.5rem 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 2.5rem;
	border-top: 2px solid var(--light_gray);
}

.con .content .list input {
	font-weight: bold;
	padding: 0.3rem 0;
}

.con .content .list div .list-con input {
	width: 150px;
	font-size: 1.5rem;
	border: none;
	border-bottom: 2px solid var(--black);
	outline: none;
	padding: 0.5rem;
}

.con .content .list div .list-con input:focus {
	border-bottom: 2px solid var(--main-color);
}

.con .content .list .first {
	border-top: 2px solid var(--black);
}

.con .content .list div .list-name {
	width: 15%;
	font-size: 1.5rem;
}

.con .content .list>div .list-con {
	font-size: 1.5rem;
}

.con .content .list .owner_check {
	margin-left: auto;
	font-size: 1.2rem;
}

.con .content .list .email_check {
	margin-left: auto;
	font-size: 1.2rem;
}

.con .content .list .phone_check {
	margin-left: auto;
	font-size: 1.2rem;
}

.con .content .list .button:disabled {
	cursor: default;
	padding: 0 1rem;
	margin-left: auto;
	display: inline-block;
	background-color: var(--light_gray);
	border: var(--border);
	border-radius: 1rem;
	color: var(--white);
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	box-shadow: var(--box-shadow);
}

.con .content .list .button {
	cursor: pointer;
	padding: 0 1rem;
	margin-top: 1.5rem;
	margin-left: auto;
	display: inline-block;
	background-color: var(--main-color);
	border: var(--border);
	border-radius: 1rem;
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	box-shadow: var(--box-shadow);
}


.con .content .list .last {
	border-bottom: 2px solid var(--black);
}

.con .content .paper {
	margin-top: 2rem;
}

.con .content .paper h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.con .content .paper .paper-list>div {
	display: flex;
	flex-direction: row;
	padding: 2rem 3rem 2rem;
	align-items: center;
	border-top: 2px solid var(--light_gray);
}

.con .content .paper .paper-list .first {
	border-top: 2px solid var(--black);
}

.con .content .paper .paper-list .list-name {
	font-size: 1.5rem;
	font-weight: 600;
	width: 20%;
}

.con .content .paper .paper-list .list-con {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;

}

.con .content .paper .paper-list .list-con .file {
	margin-top: 1rem;
}

.con .content .paper .paper-list .last {
	border-bottom: 2px solid var(--black);
}

.con .content .paper .button {
	text-align: right;
	margin-top: 1rem;
}

.con .content .paper button {
	cursor: pointer;
	padding: 0 1rem;
	margin-top: 1.5rem;
	margin-left: auto;
	display: inline-block;
	background-color: var(--main-color);
	border: var(--border);
	border-radius: 1rem;
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	box-shadow: var(--box-shadow);
}
