@import url(../main_style.css);


body {
    background-color: var(--bg);
}

.no-data{
	font-size: 2rem;
	margin: 10rem 0;
}

/* ===== Item Filter ===== */
.filter {
    margin-top: 90px;
    min-width: 667px;    
    padding: 8rem 20rem;
    box-shadow: var(--box-shadow-gray);
}

.filter h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.filter .fil-container {
    margin: .8rem 0;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-gray);
    display: flex;
    
    
    
}
.filter .fil-name {
    text-align: center;
    min-width: 55px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-right: var(--border);
    border-color: var(--gray);
    cursor: pointer;
}

.filter .tags {
    display: flex;
    width: 100%;
  	overflow-x: scroll; 
  	  overflow: auto;
  white-space: nowrap;
}
.filter .tags::-webkit-scrollbar {
  display: none;
}

.filter .tags .tag {
    font-size: 1.5rem;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    
}

/* ===== Item Filter End ===== */


/* ===== Hall List Start ===== */

.hall-list .drop-menu {
    cursor: pointer;
    display: flex;
    align-self: self-start;
    font-size: 2rem;
    text-align: left;
    margin: 1.5rem 10rem;
}

.hall-list .drop-menu .cur-item{
    margin-right: .3rem;
}


/* ===== Hall List End ===== */


/*===== modal =====*/

.modal-content .middle {
	display: flex;
	justify-content: start;
	height: 35rem;
}

.modal-content .middle .left-menu {
	overflow-y: scroll;
	width: 20%;
	border-left: .3rem solid #eee;
	border-right: .3rem solid #eee;
}

.modal-content .middle .left-menu ul li{
	font-size: 1.5rem;
	cursor: pointer;
	padding: 1.2rem 1rem;
	background-color: #eee;
	color: #888;
}

.modal-content .middle .left-menu ul li.active {
	background-color: #fff;
	color: var(--main-color);
}

.modal-content .middle .right-menu{
	padding: 1rem;
	overflow-y: scroll;
	width: 80%;
}

.modal-content .middle .right-menu form{
	display: flex;
	flex-flow: row wrap;
}

.modal-content .middle .right-menu form label{
	display: none;
	padding: 1rem;
	width: 40%;
	height: 3rem;
}

.modal-content .middle .right-menu form label input{
	margin-right: 1rem;
}





/* ===== modal End =====*/